{% load bootstrap3 i18n %}
{% csrf_token %}
<h2>{% trans "ucl_management_form" %}</h2>
<div class="row row-fluid">
  <div class="col-12">
    {% bootstrap_form_errors form %}
    {% bootstrap_field form.faculty %}
    {% bootstrap_field form.entity %}
    {% bootstrap_field form.academic_responsible %}
    {% bootstrap_field form.administrative_responsible %}
  </div>
</div>
<div class="row row-fluid">
  <div class="col-xs-12 col-sm-6">
    <h2>{% trans "contact_in" %}</h2>
    {% bootstrap_field form.contact_in_person %}
    {% bootstrap_field form.contact_in_email %}
    {% bootstrap_field form.contact_in_url %}
  </div>
  <div class="col-xs-12 col-sm-6">
    <h2>{% trans "contact_out" %}</h2>
    {% bootstrap_field form.contact_out_person %}
    {% bootstrap_field form.contact_out_email %}
    {% bootstrap_field form.contact_out_url %}
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p class="text-danger">{% trans "mandatory_fields_help_text" %}</p>
  </div>
</div>
<input type="submit" value="{% trans "submit" %}" name="submit" />
{{ form.media }}
