{% load bootstrap3 i18n %}

{% bootstrap_form_errors form %}
<form action="#" method="POST">
  {% csrf_token %}
  <h2>{% trans 'identity' %}</h2>
  <div class="row">
    <div class="col-sm-6">
      {% bootstrap_field form.title %}
      {% bootstrap_field form.last_name %}
      {% bootstrap_field form.first_name %}
    </div>
    <div class="col-sm-6">
      {% bootstrap_field form.type %}
      {% bootstrap_field form.society %}
      {% bootstrap_field form.function %}
    </div>
  </div>
  <h2>{% trans 'coordinates' %}</h2>
  <div class="row">
    <div class="col-sm-4">
      {% bootstrap_field form.phone %}
    </div>
    <div class="col-sm-4">
      {% bootstrap_field form.mobile_phone %}
    </div>
    <div class="col-sm-4">
      {% bootstrap_field form.fax %}
    </div>
  </div>
  {% bootstrap_field form.email %}
  {% bootstrap_field form.comment %}
  <div class="row button-row">
    <div class="col-sm-6">
      <a class="btn btn-default btn-block" href="{% url 'partnerships:detail' pk=partnership.pk %}">{% trans 'Cancel' %}</a>
    </div>
    <div class="col-sm-6">
      <input type="submit" value="{% block button_text %}submit{% endblock %}"
             name="submit" class="btn btn-primary btn-block"/>
    </div>
  </div>
</form>
