{% extends "layout.html" %}
{% load i18n static %}

{% block breadcrumb %}
  <li><a href="{% url 'partnerships:list' %}" id="lnk_partnerships">{% trans 'partnerships' %}</a></li>
  <li><a href="{% url 'partnerships:partners:list' %}" id="lnk_partners">{% trans 'partners' %}</a></li>
  <li><a href="{% url 'partnerships:partners:detail' partner.pk %}" id="lnk_partners">{{ partner }}</a></li>
  <li class="active">{{ media }}</li>
{% endblock %}

{% block style %}
  <link rel="stylesheet" href="{% static "partnerships/partnerships.css" %}">
{% endblock %}

{% block content %}
<div class="page-header">
  <h1>{{ media }}</h1>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <form action="{% url "partnerships:partners:medias:update" partner.id media.id %}" method="post" class="partner-form" enctype="multipart/form-data">
      {% include "partnerships/includes/media_form.html" %}

      <div class="row button-row">
        <div class="col-sm-6">
          <a href="{% url "partnerships:partners:detail" partner.pk %}" class="btn btn-default btn-block">{% trans "cancel" %}</a>
        </div>
        <div class="col-sm-6">
          <button type="submit" id="add-media" class="btn btn-primary btn-block">{% trans "update_media" %}</button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
