{% extends "layout.html" %}
{% load i18n static partnerships %}

{% block breadcrumb %}
  <li><a href="{% url 'partnerships:financings:list' %}">{% trans 'Financings' %}</a></li>
  <li class="active">{{ financing }}</li>
{% endblock %}

{% block content %}
  <div class="page-header">
    <h1>{{ financing }}</h1>
  </div>

  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        {% if can_change_financing %}
          <a class="btn btn-default" href="{% url 'partnerships:financings:update' pk=financing.pk %}">{% trans 'Edit' %}</a>
        {% endif %}
        {% if can_delete_financing %}
          <a class="btn btn-default" href="{% url 'partnerships:financings:delete' pk=financing.pk %}">{% trans 'Delete' %}</a>
        {% endif %}
      </div>

      <div class="row">
        <div class="col-12">
          <h2>{% trans 'Financing' %}</h2>
          <dl class="dl-horizontal">
            <dt>{% trans 'Name' %}</dt>
            <dd>{{ financing.name|default_if_none:"" }}</dd>
            <dt>{% trans 'Url' %}</dt>
            <dd>{{ financing.url|default_if_none:"" }}</dd>
            <dt>{% trans 'Countries' %}</dt>
            <dd>
              {% for country in financing.countries.all %}
                {{ country }}{% if not forloop.last %}, {% endif %}
              {% empty %}
                {% trans "no_country_yet" %}
              {% endfor %}
            </dd>
            <dt>{% trans 'Academic_year' %}</dt>
            <dd>{{ financing.academic_year|default_if_none:"" }}</dd>
          </dl>
        </div>
      </div>

    </div>
  </div>
{% endblock %}
