{% extends "layout.html" %}
{% load i18n static %}

{% block breadcrumb %}
  <li><a href="{% url 'partnerships:financings:list' %}">{% trans 'financings_list' %}</a></li>
  <li><a href="{{ financing.get_absolute_url }}">{{ financing }}</a></li>
  <li class="active">{% trans "delete_financing" %}</li>
{% endblock %}

{% block content %}
  <div class="page-header">
    <h1>{{ financing }}</h1>
  </div>

  <div class="panel panel-default">
    <div class="panel-body">

      <div class="row">

        <div class="col-sm-offset-3 col-sm-6">

          <form method="post">{% csrf_token %}

            <p>{% blocktrans %}Are you sure you want to delete "{{ object }}"?{% endblocktrans %}</p>

            <div class="row button-row">
              <div class="col-sm-6">
                <a href="{{ financing.get_absolute_url }}" class="btn btn-default btn-block">{% trans "cancel" %}</a>
              </div>
              <div class="col-sm-6">
                <button type="submit" class="btn btn-primary btn-block">{% trans "delete_financing" %}</button>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
