{% extends "layout.html" %}
{% load bootstrap3 i18n static %}

{% block breadcrumb %}
  <li class="active">{% trans "financings" %}</li>
{% endblock %}

{% block content %}
  <div class="page-header">
    <h1>
      {% trans 'financings' %}
    </h1>
  </div>

  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row" id="financing-btn-group">
        <div class="col-sm-12">
          <div class="pull-right">
            <button class="btn btn-default" type="button"
                    data-toggle="collapse" data-target="#financing-filter"
                    aria-expanded="false" aria-controls="financing-filter"
                    data-parent="#financing-btn-group">
              <i class="fa fa-filter"></i> <span class="hidden-xs">{% trans "filter_financing" %}</span>
            </button>
            <button class="btn btn-default" type="button"
                    data-toggle="collapse" data-target="#financing-import"
                    aria-expanded="false" aria-controls="financing-import"
                    data-parent="#financing-btn-group">
              <i class="glyphicon glyphicon-import"></i> <span class="hidden-xs">{% trans "import_financing" %}</span>
            </button>
          </div>
        </div>
        <div class="panel">
          <div class="collapse" id="financing-filter">
            <form action="#" method="POST">
              {% csrf_token %}
              {% bootstrap_form filter_form %}
              <input type="submit" value="filter" name="filter" class="btn btn-primary">
            </form>
          </div>
        </div>
        <div class="panel">
          <div class="collapse" id="financing-import">
            {% if can_import_financing %}
              <form action="#" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {% bootstrap_form import_form %}
                <input type="submit" value="import" name="import" class="btn btn-primary">
              </form>
            {% endif %}
          </div>
        </div>
      </div>
      <div id="results">
        <div class="table-responsive">
          <table class="table table-stripped table-hover">

            <thead>
              <tr>
                <td>{% trans 'countries' %}</td>
                <td>{% trans 'name' %}</td>
                <td>{% trans 'url' %}</td>
              </tr>
            </thead>

            <tbody>
              {% for country in countries %}
                {% for financing in country.financing_set.all %}
                  <tr>
                    <td>{% if forloop.first %}{{ country }}{% endif %}</td>
                    <td>{{ financing.name }}</td>
                    <td><a href="{{ financing.url }}">{{ financing.url }}</a></td>
                  </tr>
                {% endfor %}
              {% endfor %}
            </tbody>
          </table>
          {% if can_export_financing %}
            <a class="btn btn-default"
               href="{% url 'partnerships:financings:export' year=year %}">
              {% trans "export" %}
            </a>
          {% endif %}
          {% if is_paginated %}
            {% bootstrap_pagination paginator.page %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
