{% extends "bootstrap5/layout.html" %}

{% load bootstrap3 i18n partnerships static osis_role %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'partnerships:list' %}">{% trans 'Partnerships' %}</a></li>
  <li class="breadcrumb-item active">{% trans "ucl_management_entities" %}</li>
{% endblock %}

{% block script %}
  <script src="{% static "partnerships/modal_form.js" %}"></script>
{% endblock %}

{% block content %}
  <div class="page-header">
    <h1>
      {% trans 'ucl_management_entities' %}
    </h1>
  </div>

  {% has_perm 'partnership.add_uclmanagemententity' user as can_create_ucl_management_entity %}

  <div class="card">
    <div class="card-body">
      {% if can_create_ucl_management_entity %}
      <div class="row">
        <div class="col-sm-12">
          <div class="float-end">
            <a class="btn btn-light border border-dark-subtle" type="button"
               href="{% url "partnerships:ucl_management_entities:create" %}">
              <i class="fas fa-fw fa-plus"></i>
              <span class="hidden-xs">{% trans "create_ucl_management_entity" %}</span>
            </a>
          </div>
        </div>
      </div>
      {% endif %}
      <div id="results">
        {% if ucl_management_entities %}
        <div class="table-responsive">
          <table class="table table-stripped table-hover">
            <thead>
              <tr>
                <td>{% trans 'faculty' %}</td>
                <td>{% trans 'entity' %}</td>
                <td>{% trans 'academic_responsible' %}</td>
                <td>{% trans 'administrative_responsible' %}</td>
                <td>{% trans 'contact_in' %}</td>
                <td>{% trans 'contact_out' %}</td>
                <td></td>
              </tr>
            </thead>
            <tbody>
            {% for ume in ucl_management_entities %}
              {% has_perm 'partnership.change_uclmanagemententity' user ume as can_change_entity %}
              {% has_perm 'partnership.delete_uclmanagemententity' user ume as can_delete_entity %}

              <tr>
                <td>
                  {{ ume.faculty_most_recent_acronym|default_if_none:"" }}
                </td>
                <td>
                  {% if ume.faculty_most_recent_acronym != ume.entity_most_recent_acronym %}
                    {{ ume.entity_most_recent_acronym|default_if_none:"" }}
                  {% endif %}
                </td>
                <td>
                  {{ ume.academic_responsible|default_if_none:"" }}
                  {% if ume.academic_responsible.email %}
                    - {{ ume.academic_responsible.email }}
                  {% endif %}
                </td>
                <td>
                  {{ ume.administrative_responsible|default_if_none:"" }}
                  {% if ume.administrative_responsible.email %}
                    - {{ ume.administrative_responsible.email }}
                  {% endif %}
                </td>
                <td>
                  <ul class="list-unstyled">
                    {% if ume.contact_in_person %}
                      <li>
                        {{ ume.contact_in_person }}
                        {% if ume.contact_in_person %}
                          - {{ ume.contact_in_person.email }}
                        {% endif %}
                      </li>
                    {% endif %}
                    {% if ume.contact_in_email %}
                      <li>
                        <a href="mailto:{{ ume.contact_in_email }}">
                          {{ ume.contact_in_email }}
                        </a>
                      </li>
                    {% endif %}
                    {% if ume.contact_in_url %}
                      <li>
                        <a href="{{ ume.contact_in_url }}" target="_blank">
                          {{ ume.contact_in_url }}
                        </a>
                      </li>
                    {% endif %}
                  </ul>
                </td>
                <td>
                  <ul class="list-unstyled">
                    {% if ume.contact_out_person %}
                      <li>{{ ume.contact_out_person }}
                          {% if ume.contact_out_person.email %} -
                            {{ ume.contact_out_person.email }}
                          {% endif %}
                      </li>
                    {% endif %}
                    {% if ume.contact_out_email %}
                      <li>
                        <a href="mailto:{{ ume.contact_out_email }}">
                          {{ ume.contact_out_email }}
                        </a>
                      </li>
                    {% endif %}
                    {% if ume.contact_out_url %}
                      <li>
                        <a href="{{ ume.contact_out_url }}" target="_blank">
                          {{ ume.contact_out_url }}
                        </a>
                      </li>
                    {% endif %}
                  </ul>
                </td>
                <td>
                  {% if can_change_entity %}
                    <div class="btn-group pull-right">
                      <a href="{% url "partnerships:ucl_management_entities:update" ume.pk %}" class="btn btn-default">
                        <i class="fas fa-pencil-alt"></i>
                      </a>
                      {% if can_delete_entity %}
                        <button
                            class="btn btn-default dropdown-toggle"
                            type="button"
                            data-bs-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false"
                        >
                          <span class="caret"></span>
                          <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu">
                          <li>
                             <button type="button"
                              class="modal-link btn "
                              href="{% url 'partnerships:ucl_management_entities:delete' pk=ume.pk %}"
                              data-modal-danger
                              data-modal-submit="{% trans "delete_ucl_management_entity" %}"
                              data-modal-title="{{ contact }}"
                              data-modal="modal-form">
                              <i class="fas fa-times fa-fw"></i>
                              {% trans 'delete_ucl_management_entity' %}
                            </button>
                          </li>
                        </ul>
                      {% endif %}
                    </div>
                  {% endif %}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        {% else %}
        <div class="row">
          <div class="col-sm-12">
            <p>{% trans "ucl_management_entities_empty" %}</p>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="modal fade" id="modal-form" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <form action="" method="post" class="partner-form" enctype="multipart/form-data">
          <div class="modal-header">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <h4 class="modal-title" id="myModalLabel">Title</h4>
          </div>
          <div class="modal-body">
            <i class="fas fa-circle-notch fa-spin fa-fw fa-5x"></i>
          </div>
          <div class="modal-footer">
            <div class="row w-100">
              <div class="col-sm-6">
                <button type="button" class="btn btn-default btn-block border border-dark-subtle w-100" data-bs-dismiss="modal">{% trans "cancel" %}</button>
              </div>
              <div class="col-sm-6">
                <button type="submit" class="btn btn-primary btn-block w-100">{% trans "submit" %}</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
