{% extends "layout.html" %}
{% load i18n static %}

{% block breadcrumb %}
  <li><a href="{% url 'partnerships:list' %}" id="lnk_partnerships">{% trans 'partnerships' %}</a></li>
  <li class="active">{{ partnership }}</li>
{% endblock %}

{% block content %}
  <div class="page-header">
    <h1>{{ ucl_management_entity }}</h1>
  </div>

  <div class="panel panel-default">
    <div class="panel-body">
      <!-- UCL Management Entity -->
      <div class="row">
        <div class="col-12">
          <form method="post">{% csrf_token %}
            <p>Are you sure you want to delete "{{ object }}"?</p>
            <input type="submit" value="Confirm">
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
