{% extends "layout.html" %}
{% load bootstrap3 i18n partnerships static %}

{% block breadcrumb %}
  <li><a href="{% url 'partnerships:list' %}">{% trans 'partnerships' %}</a></li>
  <li class="active">{% trans "ucl_management_entities" %}</li>
{% endblock %}

{% block script %}
  <script src="{% static "partnerships/modal_form.js" %}"></script>
{% endblock %}

{% block content %}
  <div class="page-header">
    <h1>
      {% trans 'ucl_management_entities' %}
    </h1>
  </div>

  <div class="panel panel-default">
    <div class="panel-body">
      {% if can_create_ucl_management_entity %}
      <div class="row">
        <div class="col-sm-12">
          <div class="pull-right">
            {% if can_add_ucl_management_entity %}
              <a class="btn btn-default" type="button"
                 href="{% url "partnerships:ucl_management_entities:create" %}">
                <i class="fa fa-fw fa-plus"></i><span class="hidden-xs">{% trans "create_ucl_management_entity" %}</span></a>
            {% endif %}
          </div>
        </div>
      </div>
      {% endif %}
      <div id="results">
        {% if ucl_management_entities %}
        <div class="table-responsive">
          <table class="table table-stripped table-hover">
            <thead>
              <tr>
                <td>{% trans 'faculty' %}</td>
                <td>{% trans 'entity' %}</td>
                <td>{% trans 'academic_responsible' %}</td>
                <td>{% trans 'administrative_responsible' %}</td>
                <td>{% trans 'contact_in' %}</td>
                <td>{% trans 'contact_out' %}</td>
                <td></td>
              </tr>
            </thead>
            <tbody>
              {% for ucl_management_entity in ucl_management_entities %}
                <tr>
                  <td>{{ ucl_management_entity.faculty_most_recent_acronym|default_if_none:"" }}</td>
                  <td>{{ ucl_management_entity.entity_most_recent_acronym|default_if_none:"" }}</td>
                  <td>{{ ucl_management_entity.academic_responsible|default_if_none:"" }}{% if ucl_management_entity.academic_responsible.email %} - {{ ucl_management_entity.academic_responsible.email }}{% endif %}</td>
                  <td>{{ ucl_management_entity.administrative_responsible|default_if_none:"" }}{% if ucl_management_entity.administrative_responsible.email  %} - {{ ucl_management_entity.administrative_responsible.email }}{% endif %}</td>
                  <td>
                    <ul class="list-unstyled">
                      {% if ucl_management_entity.contact_in_person %}<li>{{ ucl_management_entity.contact_in_person }}{% if ucl_management_entity.contact_in_person %} - {{ ucl_management_entity.contact_in_person.email }}{% endif %}</li>{% endif %}
                      {% if ucl_management_entity.contact_in_email %}<li><a href="mailto:{{ ucl_management_entity.contact_in_email }}">{{ ucl_management_entity.contact_in_email }}</a></li>{% endif %}
                      {% if ucl_management_entity.contact_in_url %}<li><a href="{{ ucl_management_entity.contact_in_url }}" target="_blank">{{ ucl_management_entity.contact_in_url }}</a></li>{% endif %}
                    </ul>
                  </td>
                  <td>
                    <ul class="list-unstyled">
                      {% if ucl_management_entity.contact_out_person %}<li>{{ ucl_management_entity.contact_out_person }}{% if ucl_management_entity.contact_out_person.email %} - {{ ucl_management_entity.contact_out_person.email }}{% endif %}</li>{% endif %}
                      {% if ucl_management_entity.contact_out_email %}<li><a href="mailto:{{ ucl_management_entity.contact_out_email }}">{{ ucl_management_entity.contact_out_email }}</a></li>{% endif %}
                      {% if ucl_management_entity.contact_out_url %}<li><a href="{{ ucl_management_entity.contact_out_url }}" target="_blank">{{ ucl_management_entity.contact_out_url }}</a></li>{% endif %}
                    </ul>
                  </td>
                  <td>
                    {% if user|can_change_management_entity:ucl_management_entity %}
                      <div class="btn-group pull-right">
                        <a href="{% url "partnerships:ucl_management_entities:update" ucl_management_entity.pk %}" class="btn btn-default">
                          <i class="fa fa-pencil"></i>
                        </a>
                        {% if user|can_delete_management_entity:ucl_management_entity %}
                          <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"
                                  aria-haspopup="true" aria-expanded="false">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                          </button>
                          <ul class="dropdown-menu">
                            <li>
                              <a href="{% url 'partnerships:ucl_management_entities:delete' pk=ucl_management_entity.pk %}"
                                 class="modal-link"
                                 data-modal-danger
                                 data-modal-submit="{% trans "delete_ucl_management_entity" %}"
                                 data-modal-title="{{ contact }}"
                                 data-modal="modal-form">
                                <i class="fa fa-times fa-fw"></i> {% trans 'delete_ucl_management_entity' %}
                              </a>
                            </li>
                          </ul>
                        {% endif %}
                      </div>
                    {% endif %}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-8">
            {% include "partnerships/includes/pagination.html" %}
          </div>
        </div>
        {% else %}
        <div class="row">
          <div class="col-sm-12">
            <p>{% trans "ucl_management_entities_empty" %}</p>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>


<div class="modal fade" id="modal-form" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form action="" method="post" class="partner-form" enctype="multipart/form-data">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="{% trans "close" %}"><span aria-hidden="true"><i class="fa fa-times"></i></span></button>
          <h4 class="modal-title" id="myModalLabel">Title</h4>
        </div>
        <div class="modal-body">
          <i class="fa fa-circle-o-notch fa-spin fa-fw fa-5x"></i>
        </div>
        <div class="modal-footer">
          <div class="row">
            <div class="col-sm-6">
              <button type="button" class="btn btn-default btn-block" data-dismiss="modal">{% trans "cancel" %}</button>
            </div>
            <div class="col-sm-6">
              <button type="submit" class="btn btn-primary btn-block">{% trans "submit" %}</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
