{% extends "layout.html" %}
{% load bootstrap3 i18n static %}

{% block breadcrumb %}
  <li><a href="{% url 'partnerships:list' %}">{% trans 'partnerships' %}</a></li>
  <li class="active">{% trans "ucl_management_entities" %}</li>
{% endblock %}

{% block content %}
  <div class="page-header">
    <h1>
      {% trans 'ucl_management_entities' %}
    </h1>
  </div>

  <div class="panel panel-default">
    <div class="panel-body">
      {% if can_create_ucl_management_entity %}
      <div class="row">
        <div class="col-sm-12">
          <div class="pull-right">
            <a class="btn btn-default" type="button"
               href="{% url "partnerships:ucl_management_entities:create" %}">
              <i class="fa fa-fw fa-plus"></i><span class="hidden-xs">{% trans "create_ucl_management_entity" %}</span></a>
          </div>
        </div>
      </div>
      {% endif %}
      <div id="results">
        {% if ucl_management_entities %}
        <div class="table-responsive">
          <table class="table table-stripped table-hover">
            <thead>
              <tr>
                <td>{% trans 'faculty' %}</td>
                <td>{% trans 'entity' %}</td>
                <td>{% trans 'academic_responsible' %}</td>
                <td>{% trans 'administrative_responsible' %}</td>
                <td>{% trans 'contact_in' %}</td>
                <td>{% trans 'contact_out' %}</td>
                <td></td>
              </tr>
            </thead>
            <tbody>
              {% for ucl_management_entity in ucl_management_entities %}
                <tr>
                  <td>{{ ucl_management_entity.faculty_most_recent_acronym|default_if_none:"" }}</td>
                  <td>{{ ucl_management_entity.entity_most_recent_acronym|default_if_none:"" }}</td>
                  <td>{{ ucl_management_entity.academic_responsible|default_if_none:"" }}</td>
                  <td>{{ ucl_management_entity.administrative_responsible|default_if_none:"" }}</td>
                  <td>{{ ucl_management_entity.contact_in_person|default_if_none:"" }}</td>
                  <td>{{ ucl_management_entity.contact_out_person|default_if_none:"" }}</td>
                  <td>
                    <a href="{% url "partnerships:ucl_management_entities:update" ucl_management_entity.pk %}" class="btn btn-default">
                      <i class="fa fa-pencil"></i>
                    </a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-8">
            {% include "partnerships/includes/pagination.html" %}
          </div>
        </div>
        {% else %}
        <div class="row">
          <div class="col-sm-12">
            <p>{% trans "ucl_management_entities_empty" %}</p>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
