{% extends "layout.html" %}
{% load i18n static partnerships %}

{% block breadcrumb %}
  <li><a href="{% url 'partnerships:ucl_management_entities:list' %}">{% trans 'Ucl_management_entities' %}</a></li>
  <li class="active">{{ ucl_management_entity }}</li>
{% endblock %}

{% block content %}
  <div class="page-header">
    <h1>{{ ucl_management_entity }}</h1>
    {% if can_change_ucl_management_entity %}
      <a href="{% url 'partnerships:ucl_management_entities:update' pk=ucl_management_entity.pk %}">{% trans 'Edit' %}</a>
    {% endif %}
    {% if can_delete_ucl_management_entity %}
      <a href="{% url 'partnerships:ucl_management_entities:delete' pk=ucl_management_entity.pk %}">{% trans 'Delete' %}</a>
    {% endif %}
  </div>

  <div class="panel panel-default">
    <div class="panel-body">
      <!-- UCL Management Entity -->
      <div class="row">
        <div class="col-12">
          <h2>{% trans 'Ucl_management_entity' %}</h2>
          <dl class="dl-horizontal">
            <dt>{% trans 'Faculty' %}</dt>
            <dd>{{ ucl_management_entity.faculty|default_if_none:"" }}</dd>
            <dt>{% trans 'Entity' %}</dt>
            <dd>{{ ucl_management_entity.entity|default_if_none:"" }}</dd>
            <dt>{% trans 'Academic_responsible' %}</dt>
            <dd>{{ ucl_management_entity.academic_responsible }}</dd>
            <dt>{% trans 'Administrative_responsible' %}</dt>
            <dd>{{ ucl_management_entity.administrative_responsible }}</dd>
          </dl>
        </div>
      </div>
      <div class="row">
        <!-- Contact in -->
        <div class="col-xs-12 col-sm-6">
          <h2>{% trans 'Contact_in' %}</h2>
          <dl class="dl-horizontal">
            <dt>{% trans 'Name' %}</dt>
            <dd>{{ ucl_management_entity.contact_in_person|default_if_none:"" }}</dd>
            <dt>{% trans 'Email' %}</dt>
            <dd>{{ ucl_management_entity.contact_in_email|default_if_none:"" }}</dd>
            <dt>{% trans 'Portail' %}</dt>
            <dd>{{ ucl_management_entity.contact_in_url|default_if_none:"" }}</dd>
          </dl>
        </div>
        <!-- Contact out -->
        <div class="col-xs-12 col-sm-6">
          <h2>{% trans 'Contact_out' %}</h2>
          <dl class="dl-horizontal">
            <dt>{% trans 'Name' %}</dt>
            <dd>{{ ucl_management_entity.contact_out_person|default_if_none:"" }}</dd>
            <dt>{% trans 'Email' %}</dt>
            <dd>{{ ucl_management_entity.contact_out_email|default_if_none:"" }}</dd>
            <dt>{% trans 'Portail' %}</dt>
            <dd>{{ ucl_management_entity.contact_out_url|default_if_none:"" }}</dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
