{% extends "layout.html" %}
{% load i18n static %}

{% block breadcrumb %}
  <li><a href="{% url 'partnerships:partnerships_list' %}" id="lnk_partnerships">{% trans 'partnerships' %}</a></li>
  <li><a href="{% url 'partnerships:partners:list' %}" id="lnk_partners">{% trans 'partners' %}</a></li>
  <li><a href="{% url 'partnerships:partners:detail' partner.pk %}" id="lnk_partners">{{ partner }}</a></li>
  <li class="active">{% trans "add_partner_entity" %}</li>
{% endblock %}

{% block style %}
  <link rel="stylesheet" href="{% static "css/select2.min.css" %}">
  <link rel="stylesheet" href="{% static "partnerships/partnerships.css" %}">
{% endblock %}

{% block script %}
  <script src="{% static "js/select2.min.js" %}"></script>
  <script src="{% static "partnerships/partner_entity_form.js" %}"></script>
{% endblock %}

{% block content %}
<div class="page-header">
  <h1>{% trans "add_partner_entity" %}</h1>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <form action="{% url "partnerships:partners:entities:create" partner.id %}" method="post" class="partner-form">
      {% include "partnerships/partners/entities/includes/partner_entity_form.html" %}

      <div class="row button-row">
        <div class="col-sm-6">
          <a href="{{ partner.get_absolute_url }}" class="btn btn-default btn-block">{% trans "cancel" %}</a>
        </div>
        <div class="col-sm-6">
          <button type="submit" class="btn btn-primary btn-block">{% trans "add_partner_entity" %}</button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
