{% extends "bootstrap5/layout.html" %}
{% load i18n static %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'partnerships:list' %}" id="lnk_partnerships">{% trans 'Partnerships' %}</a></li>
  <li class="breadcrumb-item"><a href="{% url 'partnerships:partners:list' %}" id="lnk_partners">{% trans 'partners' %}</a></li>
  <li class="breadcrumb-item"><a href="{% url 'partnerships:partners:detail' partner.pk %}" id="lnk_partners">{{ partner }}</a></li>
  <li class="breadcrumb-item active">{{ partner_entity }}</li>
{% endblock %}

{% block style %}
  <link rel="stylesheet" href="{% static "partnerships/partnerships.css" %}">
{% endblock %}

{% block content %}
<div class="page-header">
  <h1>{{ partner_entity }}</h1>
</div>

<div class="card">
  <div class="card-body">
    <form action="{% url 'partnerships:partners:entities:delete' partner.id partner_entity.id %}" method="post">
      {% include "partnerships/partners/entities/includes/partner_entity_delete.html" %}
      <button type="submit" class="btn btn-primary w-100">{% trans "delete_partner_entity" %}</button>
    </form>
  </div>
</div>
{% endblock %}
