{% load bootstrap3 i18n %}
{% csrf_token %}

<div class="row row-fluid">
  <div class="col-xs-12">
    <h2>{% trans "financing_form" %}</h2>
  </div>
</div>

<div class="row row-fluid">
  <div class="col-xs-12">
    {% bootstrap_form_errors form %}
  </div>
  <div class="col-xs-12">
    {% bootstrap_field form.name %}
  </div>
  <div class="col-xs-12">
    {% bootstrap_field form.url %}
  </div>
  <div class="col-xs-12">
    {% bootstrap_field form.countries %}
  </div>
  <div class="col-xs-12">
    {% bootstrap_field form.academic_year %}
  </div>
</div>
{{ form.media }}
