{% extends "layout.html" %}
{% load bootstrap3 i18n static %}

{% block breadcrumb %}
  <li><a href="{% url 'partnerships:partnerships_list' %}" id="lnk_partnerships">{% trans 'partnerships' %}</a></li>
  <li class="active">{% trans "partnership_create" %}</li>
{% endblock %}

{% block content %}
  <div class="page-header">
    <h1>{% trans "new_partnership" %}</h1>
  </div>
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="well">
        <div class="row">
          <div class="col-sm-12">
            {% include 'partnerships/includes/partnership_form.html' %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
