{% extends "layout.html" %}
{% load i18n %}

{% block breadcrumb %}
  <li><a href="{% url 'partnerships:partnerships_list' %}" id="lnk_partnerships">{% trans 'partnerships' %}</a></li>
  <li class="active">{% trans 'partners' %}</li>
{% endblock %}

{% block content %}
<div class="page-header">
  <h1>{% trans 'partners' %}</h1>
</div>

{% url 'organization_edit' organization_id=organization.id as url_identification_edit %}

<div class="panel panel-default">
  <div class="panel-body">

    <div class="well">
      <div class="row">
        <div class="col-sm-12">
          <button class="btn btn-default pull-right" type="button"
                  data-toggle="collapse" data-target="#partner-filters"
                  aria-expanded="false" aria-controls="partner-filters">
            <i class="fa fa-filter"></i>
          </button>
        </div>
      </div>
      <div class="collapse{% if form.is_bound %} in{% endif %}" id="partner-filters">
        <div class="row">
          <form action="{% url "partnerships:partners:list" %}" method="get">
            <div class="form-group">
              <div class="col-sm-12 col-md-8">{{ form.name }}</div>
              <div class="col-sm-12 col-md-4">{{ form.is_ies }}</div>
            </div>
            <div class="form-group">
              <div class="col-sm-12 col-md-4">{{ form.partner_type }}</div>
              <div class="col-sm-12 col-md-4">{{ form.pic_code }}</div>
            </div>
            <div class="form-group">
              <div class="col-sm-12 col-md-4">{{ form.is_valid }}</div>
              <div class="col-sm-12 col-md-4">{{ form.is_actif }}</div>
            </div>
            <div class="form-group">
              <div class="col-sm-12 col-md-12">{{ form.tags }}</div>
            </div>
            <div class="col-md-12">
              <button type="submit" class="btn btn-primary pull-right">{% trans "filter" %}</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div id="results">
      {% include "partnerships/includes/partners_list_results.html" %}
    </div>

    {% include "partnerships/includes/pagination.html" %}
  </div>
</div>
{% endblock %}