{% extends "layout.html" %}

{% load bootstrap3 i18n static %}

{% block breadcrumb %}
  <li class="active">{% trans 'partnerships' %}</li>
{% endblock %}

{% block style %}
  <link rel="stylesheet" href="{% static "partnerships/partnerships.css" %}">
{% endblock %}

{% block script %}
  <script src="{% static "partnerships/list.js" %}"></script>
{% endblock %}

{% block content %}
  <div class="page-header">
    <h1>
      {% trans 'partnerships' %}
    </h1>
  </div>

  <div class="panel panel-default">
    <div class="panel-body">
      <div class="well">
        <div class="row">
          <div class="col-sm-12">
            <div class="pull-right">
              {% if can_change_configuration %}
              <a class="btn btn-default" type="button"
                 href="{% url "partnerships:configuration_update" %}">
                <i class="fa fa-fw fa-cog"></i> <span class="hidden-xs">{% trans "change_configuration" %}</span>
              </a>
              {% endif %}
              {% if can_add_partnership %}
              <a class="btn btn-default" type="button"
                 href="{% url "partnerships:ucl_management_entities:list" %}">
                <i class="fa fa-fw fa-cog"></i> <span class="hidden-xs">{% trans "ucl_management_entities" %}</span>
              </a>
              <a class="btn btn-default" type="button"
                 href="{% url "partnerships:create" %}">
                <i class="fa fa-fw fa-plus"></i> <span class="hidden-xs">{% trans "add_partnership" %}</span>
              </a>
            {% endif %}
              <button class="btn btn-default" type="button"
                      data-toggle="collapse" data-target="#partnership-filters"
                      aria-expanded="false" aria-controls="partnership-filters">
                <i class="fa fa-filter"></i> <span class="hidden-xs">{% trans "search_partnership_or_agreement" %}</span>
              </button>
            </div>
          </div>
        </div>

        <div class="collapse" id="partnership-filters">
          <div class="row">
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active"><a href="#filter-ucl" aria-controls="filter-ucl" role="tab" data-toggle="tab">{% trans 'ucl' %}</a></li>
              <li role="presentation"><a href="#filter-partner" aria-controls="filter-profile" role="tab" data-toggle="tab">{% trans 'partner' %}</a></li>
              <li role="presentation"><a href="#filter-partnership" aria-controls="filter-messages" role="tab" data-toggle="tab">{% trans 'partnership' %}</a></li>
            </ul>

            <form action="{% url "partnerships:list" %}" id="filter-form" method="get" autocomplete="off">
              {% csrf_token %}
              <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="filter-ucl">
                  <div class="row">
                    <div class="col-sm-12 col-md-6">
                      {% bootstrap_field form.ucl_university %}
                    </div>
                    <div class="col-sm-12 col-md-6">
                      {% bootstrap_field form.ucl_university_labo %}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12 col-md-4">
                      {% bootstrap_field form.education_level %}
                    </div>
                    <div class="col-sm-12 col-md-4">
                      {% bootstrap_field form.years_entity %}
                    </div>
                    <div class="col-sm-12 col-md-4">
                      {% bootstrap_field form.university_offer %}
                    </div>
                  </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="filter-partner">
                  <div class="row">
                    <div class="col-sm-12 col-md-6">
                      {% bootstrap_field form.partner %}
                    </div>
                    <div class="col-sm-12 col-md-6">
                      {% bootstrap_field form.partner_entity %}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12 col-md-6">
                      {% bootstrap_field form.partner_type %}
                    </div>
                    <div class="col-sm-12 col-md-6">
                      {% bootstrap_field form.erasmus_code %}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12 col-md-4">
                      {% bootstrap_field form.city %}
                    </div>
                    <div class="col-sm-12 col-md-4">
                      {% bootstrap_field form.country %}
                    </div>
                    <div class="col-sm-12 col-md-4">
                      {% bootstrap_field form.continent %}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      {% bootstrap_field form.partner_tags %}
                    </div>
                  </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="filter-partnership">
                  <div class="row">
                    <div class="col-sm-12 col-md-6">
{#                      {% bootstrap_field form.partnership_type %}#}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12 col-md-6">
                      {% bootstrap_field form.education_field %}
                    </div>
                    <div class="col-sm-12 col-md-6">
                      {% bootstrap_field form.supervisor %}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12 col-md-3">
                      {% bootstrap_field form.is_sms %}
                    </div>
                    <div class="col-sm-12 col-md-3">
                      {% bootstrap_field form.is_smp %}
                    </div>
                    <div class="col-sm-12 col-md-3">
                      {% bootstrap_field form.is_sta %}
                    </div>
                    <div class="col-sm-12 col-md-3">
                      {% bootstrap_field form.is_stt %}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12 col-md-3">
                      <label class="control-label" for="{{ form.partnership_in.id_for_label  }}">
                        {{ form.partnership_in.label }}
                        <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="top" title="{{ form.partnership_in.help_text }}"></i>
                      </label>
                      {% bootstrap_field form.partnership_in show_label=False show_help=False %}
                    </div>
                    <div class="col-sm-12 col-md-3">
                      <label class="control-label" for="{{ form.partnership_ending_in.id_for_label  }}">
                        {{ form.partnership_ending_in.label }}
                        <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="top" title="{{ form.partnership_ending_in.help_text }}"></i>
                      </label>
                      {% bootstrap_field form.partnership_ending_in show_label=False show_help=False %}
                    </div>
                    <div class="col-sm-12 col-md-3">
                      {% bootstrap_field form.partnership_valid_in %}
                    </div>
                    <div class="col-sm-12 col-md-3">
                      {% bootstrap_field form.partnership_not_valid_in %}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-6">
                      {% bootstrap_field form.tags %}
                    </div>
                    <div class="col-sm-6">
                      {% bootstrap_field form.comment %}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="pull-right">
                    <button type="reset" class="btn btn-default">{% trans "reset_search_fields" %}</button>
                    {% comment %}
                      <button type="submit" class="btn btn-primary" name="search_partnership">{% trans "search_partnership" %}</button>
                      <button type="submit" class="btn btn-primary" name="search_agreement">{% trans "search_agreement" %}</button>
                    {% endcomment %}
                    <input type="submit" class="btn btn-primary" name="search_partnership" value="{% trans "search_partnership" %}" />
                    <input type="submit" class="btn btn-primary" name="search_agreement" value="{% trans "search_agreement" %}" />
                  </div>
                </div>
              </div>
            </form>
            {{ form.media }}
          </div>
        </div>
      </div>
      <div id="results">
        {% if is_agreements %}
          {% include "partnerships/agreements/includes/agreements_list_results.html" %}
        {% else %}
          {% include "partnerships/includes/partnerships_list_results.html" %}
        {% endif %}
      </div>
    </div>
  </div>
  <script rel="stylesheet" src="{% static 'partnerships/reset_form.js' %}" type="text/javascript"></script>
{% endblock %}
