{% extends "layout.html" %}
{% load i18n static %}

{% block breadcrumb %}
  <li><a href="{% url 'partnerships:partnerships_list' %}" id="lnk_partnerships">{% trans 'partnerships' %}</a></li>
  <li><a href="{% url 'partnerships:partners:list' %}" id="lnk_partners">{% trans 'partners' %}</a></li>
  <li><a href="{% url 'partnerships:partners:detail' partner.pk %}" id="lnk_partners">{{ partner }}</a></li>
  <li class="active">{% trans "add_media" %}</li>
{% endblock %}

{% block style %}
  <link rel="stylesheet" href="{% static "partnerships/partnerships.css" %}">
{% endblock %}

{% block content %}
<div class="page-header">
  <h1>{% trans "add_media" %}</h1>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    {% include "partnerships/includes/media_form.html" %}
  </div>
</div>
{% endblock %}
