{% extends "layout.html" %}
{% load i18n static %}

{% block breadcrumb %}
  <li><a href="{% url 'partnerships:partnerships_list' %}" id="lnk_partnerships">{% trans 'partnerships' %}</a></li>
  <li class="active">{{ partnership }}</li>
{% endblock %}

{% block style %}
  <link rel="stylesheet" href="{% static "partnerships/partnerships.css" %}">
{% endblock %}

{% block script %}
  <script src="{% static "partnerships/modal_form.js" %}"></script>
{% endblock %}

{% block content %}
  <div class="page-header">
    <h1>{{ partnership }}</h1>
  </div>

  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-12">
          <a href="{% url 'partnerships:partnerships_list' %}">{% trans 'back_to_list' %}</a>
          <a href="{% url 'partnerships:partnership_update' pk=partnership.pk %}">{% trans 'edit_partnership' %}</a>
        </div>
      </div>
      
      <!-- Partenariat -->
      <h2>{% trans "partnership_between" %}</h2>
      <div class="row">
        <div class="col-sm-12">
          <p>
            <em>
              {% blocktrans with created=partnership.created|date:"SHORT_DATE_FORMAT" author=partnership.author modified=partnership.modified|date:"SHORT_DATE_FORMAT" %}created_{{ created }}_by_{{ author }}_modified_{{ modified }}{% endblocktrans %}
            </em>
          </p>
          <i>{% if partnership.is_valid %}{% trans "valid" %}{% else %}{% trans "not_valid" %}{% endif %}</i>
        </div>
      </div>
      {% if partnership.partner or partnership.partner_entity %}
        <div class="row">
          <div class="col-sm-12">
            {% if partnership.partner %}<strong>{{ partnership.partner }}</strong>{% endif %}
            {% if partnership.partner and partnership.partner_entity %} &gt; {% endif %}
            {% if partnership.partner_entity %}<strong>{{ partnership.partner_entity }}</strong>{% endif %}
          </div>
        </div>
      {% endif %}
      <div class="row">
        <div class="col-sm-12">
          <strong>{% if partnership.ucl_university %}{{ partnership.ucl_university.acronym }}{% else %}{% trans "no_university" %}{% endif %}</strong>
          {% if partnership.ucl_university_labo %}&gt; <strong>{{ partnership.ucl_university_labo }} lab</strong>{% endif %}
          {% if partnership.university_offers_count > 0 %} &gt; <strong>{% if partnership.university_offers_count == 1 %}{{ partnership.university_offers.all.0 }}{% else %}{{ partnership.university_offers_count }} {% trans "offers" %}{% endif %}</strong>{% endif %}
        </div>
      </div>
      {% if partnership.start_date or partnership.end_date %}<div class="row"><div class="col-sm-12">{{ partnership.start_date|default_if_none:"" }} &gt; {{ partnership.end_date|default_if_none:"" }}</div></div>{% endif %}

      {% if partnership.years.all %}
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>{% trans "mobility_type" %}</th>
            <th>{% trans "partnership_type" %}</th>
          </tr>
        </thead>
        <tbody>
          {% for partnership_year in partnership.years.all %}
          <tr>
            <th>{{ partnership_year.academic_year }}</th>
            <td>{{ partnership_year.mobility_type }}</td>
            <td>{{ partnership_year.get_partnership_type_display }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% endif %}

      {% if partnership.comment is not None %}
        <div class="row">
          <div class="col-sm-12">
            {{ partnership.comment }}
          </div>
        </div>
      {% endif %}
      
      <!-- Contacts -->
      {% if partnership.contacts.all %}
        <h2>{% trans "contacts" %}</h2>
        <div class="row">
          <div class="col-sm-12 col-md-6">
            {% for contact in partnership.contacts.all %}
              {% include "partnerships/includes/contacts/includes/contact.html" with contact=contact %}
              <div class="btn-group">
                <a class="btn btn-default" href="#">
                  <i class="fa fa-eye fa-fw"></i>
                </a>
                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="caret"></span>
                  <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu">
                  <li>
                    <a href="{% url 'partnerships:contacts:update' pk=contact.pk partnership_pk=partnership.pk %}">{% trans 'update_contact' %}</a>
                  </li>
                  <li>
                    <a href="{% url 'partnerships:contacts:delete' pk=contact.pk partnership_pk=partnership.pk %}">{% trans 'delete_contact' %}</a>
                  </li>
                </ul>
              </div>
            {% endfor %}
          </div>
        </div>
      {% endif %}
      
      <div class="row">
        <div class="col-sm-12">
          <a href="{% url "partnerships:contacts:create" partnership.id %}"
             class="btn btn-default modal-link pull-right"
             data-modal-submit="{% trans "new_contact" %}"
             data-modal-title="{% trans "new_contact" %}"
             data-modal="modal-form"><i class="fa fa-fw fa-plus"></i> {% trans "add_contact" %}</a>
        </div>
      </div>

      <!-- Accords -->
      <h2>{% trans "agreements" %}</h2>
      {% for agreement in partnership.agreements.all %}
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <div class="row">
            <div class="col-sm-5">
              {{ agreement.start_academic_year }} > {{ agreement.end_academic_year }}
              {% if can_change %}
              <div class="btn-group">
                <a href="{% url "partnerships:agreements:update" partnership.id agreement.id %}"
                   class="btn btn-default">
                  <i class="fa fa-pencil fa-fw"></i>
                </a>
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="caret"></span>
                  <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu">
                  <li><a href="{% url "partnerships:agreements:delete" partnership.id agreement.id %}"
                     class="modal-link"
                     data-modal-danger
                     data-modal-submit="{% trans "delete_partnership_agreements" %}"
                     data-modal-title="{{ agreement }}"
                     data-modal="modal-form"><i class="fa fa-times fa-fw"></i> {% trans "delete_partnership_agreement" %}</a></li>
                </ul>
              </div>
              {% endif %}
            </div>
            <div class="col-sm-7">
              <strong>{{ agreement.get_status_display }}</strong>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <p>{{ agreement.note }}</p>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 partner-media">
          {% include "partnerships/includes/media_detail.html" with media=agreement.media %}
        </div>
      </div>
      {% empty %}
      <div class="row">
        <div class="col-sm-12">{% trans "no_agreement_yet" %}</div>
      </div>
      {% endfor %}
      {% if can_change %}
      <div class="row">
        <div class="col-sm-12">
          <a href="{% url "partnerships:agreements:create" partnership.id %}"
                 class="btn btn-default pull-right">
            <i class="fa fa-fw fa-plus"></i> {% trans "add_partnership_agreements" %}
          </a>
        </div>
      </div>
      {% endif %}
      
      <!-- Tags -->
      <h2>{% trans "tags" %}</h2>
      {% if partnership.tags.all %}
        <div class="row">
          <div class="col-sm-12">
            <ul class="tags-list">
              {% for tag in partnership.tags.all %}
                <li>{{ tag }}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
      {% endif %}
    </div>
  </div>


<div class="modal fade" id="modal-form" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form action="" method="post" class="partner-form" enctype="multipart/form-data">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="{% trans "close" %}"><span aria-hidden="true"><i class="fa fa-times"></i></span></button>
          <h4 class="modal-title" id="myModalLabel">Title</h4>
        </div>
        <div class="modal-body">
          <i class="fa fa-circle-o-notch fa-spin fa-fw fa-5x"></i>
        </div>
        <div class="modal-footer">
          <div class="row">
            <div class="col-sm-6">
              <button type="button" class="btn btn-default btn-block" data-dismiss="modal">{% trans "cancel" %}</button>
            </div>
            <div class="col-sm-6">
              <button type="submit" class="btn btn-primary btn-block">{% trans "submit" %}</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
