{% extends "layout.html" %}
{% load i18n static %}

{% block breadcrumb %}
  <li><a href="{% url 'partnerships:partnerships_list' %}" id="lnk_partnerships">{% trans 'partnerships' %}</a></li>
  <li class="active">{% trans 'partners' %}</li>
{% endblock %}

{% block style %}
  <link rel="stylesheet" href="{% static "css/select2.min.css" %}">
  <link rel="stylesheet" href="{% static "partnerships/partnerships.css" %}">
{% endblock %}

{% block script %}
  <script src="{% static "js/select2.min.js" %}"></script>
  <script src="{% static "partnerships/list.js" %}"></script>
{% endblock %}

{% block content %}
<div class="page-header">
  <h1>{% trans 'partners' %}</h1>
</div>

{% url 'organization_edit' organization_id=organization.id as url_identification_edit %}

<div class="panel panel-default">
  <div class="panel-body">

    <div class="well">
      <div class="row">
        <div class="col-sm-12">
          <button class="btn btn-default pull-right" type="button"
                  data-toggle="collapse" data-target="#partner-filters"
                  aria-expanded="false" aria-controls="partner-filters">
            <i class="fa fa-filter"></i> <span class="hidden-xs">{% trans "filter_partners" %}</span>
          </button>
        </div>
      </div>
      <div class="collapse{% if form.is_bound %} in{% endif %}" id="partner-filters">
          <form action="{% url "partnerships:partners:list" %}" id="filter-form" method="get">
            <div class="row">
              <div class="col-sm-12 col-md-8">{{ form.name }}</div>
              <div class="col-sm-12 col-md-4">{{ form.is_ies }}</div>
            </div>
            <div class="row">
              <div class="col-sm-12 col-md-4">{{ form.partner_type }}</div>
              <div class="col-sm-12 col-md-4">{{ form.pic_code }}</div>
              <div class="col-sm-12 col-md-4">{{ form.erasmus_code }}</div>
            </div>
            <div class="row">
              <div class="col-sm-12 col-md-4">{{ form.city }}</div>
              <div class="col-sm-12 col-md-4">{{ form.country }}</div>
              <div class="col-sm-12 col-md-4">{{ form.continent }}</div>
            </div>
            <div class="row">
              <div class="col-sm-12 col-md-4">{{ form.is_valid }}</div>
              <div class="col-sm-12 col-md-4">{{ form.is_actif }}</div>
            </div>
            <div class="row">
              <div class="col-sm-12 col-md-12">{{ form.tags }}</div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <button type="submit" class="btn btn-primary pull-right">{% trans "filter" %}</button>
              </div>
            </div>
          </form>
      </div>
    </div>

    <div id="results">
      {% include "partnerships/includes/partners_list_results.html" %}
    </div>

  </div>
</div>
{% endblock %}