{% extends "layout.html" %}
{% load bootstrap3 i18n static %}

{% block breadcrumb %}
  <li><a href="{% url 'partnerships:partnerships_list' %}" id="lnk_partnerships">{% trans 'partnerships' %}</a></li>
  <li class="active">{{ partnership }}</li>
{% endblock %}

{% block content %}
  <div class="page-header">
    <h1>{{ partnership }}</h1>
  </div>
  {% bootstrap_form_errors form %}
  <form action="#" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="submit" name="submit" />
  </form>
  {{ form.media }}
{% endblock %}
