{% extends "layout.html" %}
{% load i18n static %}

{% block breadcrumb %}
  <li><a href="{% url 'partnerships:partnerships_list' %}" id="lnk_partnerships">{% trans 'partnerships' %}</a></li>
  <li class="active">{{ partnership }}</li>
{% endblock %}

{% block style %}
  <link rel="stylesheet" href="{% static "partnerships/partnerships.css" %}">
{% endblock %}

{% block content %}
  <div class="page-header">
    <h1>{{ partnership }}</h1>
  </div>

  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-12">
          <a href="{% url 'partnerships:partnerships_list' %}">{% trans 'back to the list' %}</a>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <dl class="dl-horizontal">
            <!-- Partnership -->
            <h2>{% trans "Partnership" %}</h2>
            <dt>{% trans "partner" %}</dt>
            <dd>{{ partnership.partner }}</dd>

            <dt>{% trans "UCL" %}</dt>
            <dd>
              {{ partnership.ucl_university }}
              {% if partnership.ucl_university_labo %} &gt; {{ partnership.ucl_university_labo }}{% endif %}
            </dd>

            <dt>{% trans "Academic Responsible" %}</dt>
            <dd>Not implemented yet?</dd>

            {% if partnership.start_date or partnership.end_date %}
              <dt>{% trans "Dates" %}</dt>
              <dd>
                {% if partnership.start_date %}{{ partnership.start_date }}{% endif %}
                {% if partnership.start_date and partnership.end_date %} &gt; {% endif %}
                {% if partnership.end_date %}{{ partnership.end_date }}{% endif %}
              </dd>
            {% endif %}

            <dt>{% trans "Studies domain" %}</dt>
            <dd>Not implemented yet</dd>

            <dt>{% trans "Studies level" %}</dt>
            <dd>Not implemented yet</dd>

            <dt>{% trans "Mobility type" %}</dt>
            <dd>{{ partnership.mobility_type }}</dd>

            <dt>{% trans "Partnership type" %}</dt>
            <dd>{{ partnership.partnership_type }}</dd>
          </dl>
        </div>
      </div>
      
      <!-- Partenariat -->
      <h2>{% trans "Partnership between" %}</h2>
      <p>{{ partnership.partner }} &gt; {{ partnership.partner_entity }}</p>
      <p>{{ partnership.ucl_university }} &gt; {{ partnership.ucl_university_labo }} &gt; {{ partnership.ucl_offers }}</p>
      
      <!-- Contacts -->
      <h2>{% trans "Contacts" %}</h2>
      {% if partnership.contacts.all %}
        <div class="row">
          {% for contact in partnership.contacts.all %}
            <div class="col-sm-12">
              <address><b>{{ contact }}</b> {{ contact.function|default_if_none:'' }} {{ contact.society|default_if_none:'' }}<br/>
                T: {{ contact.phone|default_if_none:"N/a" }} M: {{ contact.mobile_phone|default_if_none:"N/a" }} F: {{ concact.fax|default_if_none:"N/a" }}
                {{ contact.email|default_if_none:'' }}
                  <p>
                    {{ contact.comment|default_if_none:'' }}
                  </p>
              </address>
            </div>
          {% endfor %}
        </div>
      {% endif %}

      <!-- Accords -->
      <h2>{% trans "Agreements" %}
      <div>
        <!-- TODO -->
      </div>
      
      <!-- Tags -->
      <h2>{% trans "Tags" %}</h2>
      <div>
        <ul>
          {% for tag in partnership.tags.all %}
            <li>{{ tag.value }}</li>
          {% empty %}
            {% trans "No tag yet" %}
          {% endfor %}
        </ul>
      </div>
      
    </div
  </div>
{% endblock %}
