{% extends "layout.html" %}
{% load i18n %}

{% block breadcrumb %}
  <li><a href="{% url 'partnerships:partnerships_list' %}" id="lnk_partnerships">{% trans 'partnerships' %}</a></li>
  <li class="active">{% trans 'partners' %}</li>
{% endblock %}

{% block content %}
<div class="page-header">
  <h1>{% trans 'partners' %}</h1>
</div>

{% url 'organization_edit' organization_id=organization.id as url_identification_edit %}

<div class="panel panel-default">
  <div class="panel-body">

    <div class="well">
      <button class="btn btn-default float-right" type="button"
              data-toggle="collapse" data-target="#partner-filters"
              aria-expanded="false" aria-controls="partner-filters">
        <i class="fa fa-filter"></i>
      </button>
      <div class="collapse" id="partner-filters">
        <form action="{% url "partnerships:partners:list" %}" method="get">
          {{ form.as_p }}
          <button type="submit" class="btn btn-primary">{% trans "filter" %}</button>
        </form>
      </div>
    </div>

    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <td>{% trans "partner" %}</td>
          <td>{% trans "country" %}</td>
          <td>{% trans "city" %}</td>
          <td>{% trans "code" %}</td>
          <td>{% trans "type" %}</td>
          <td>{% trans "current_partnership" %}</td>
          <td>{% trans "valid" %}</td>
          <td>{% trans "still_actif" %}</td>
          <td></td>
        </tr>
      </thead>
      <tbody>
        {% for partner in partners %}
        <tr>
          <td>{{ partner }}</td>
          <td></td>
          <td></td>
          <td>{{ partner.partner_code }}</td>
          <td>{{ partner.partner_type }}</td>
          <td>{{ partner.partnerships_count }}</td>
          <td><i class="fa {{ partner.is_valid|yesno:"fa-check text-success,fa-times text-danger" }}"></i></td>
          <td><i class="fa {{ partner.is_actif|yesno:"fa-check text-success,fa-times text-danger" }}"></i></td>
          <td><a href="{{ partner.get_absolute_url }}" class="btn btn-default"><i class="fa fa-eye"></i></a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}