{% extends "layout.html" %}
{% load i18n static %}

{% block breadcrumb %}
  <li><a href="{% url 'partnerships:partnerships_list' %}" id="lnk_partnerships">{% trans 'partnerships' %}</a></li>
  <li class="active">{{ partnership }}</li>
{% endblock %}

{% block style %}
  <link rel="stylesheet" href="{% static "partnerships/partnerships.css" %}">
{% endblock %}

{% block content %}
  <div class="page-header">
    <h1>{{ partnership }}</h1>
  </div>

  {% comment %}
  <div class="row">
    <a href="{% url 'partnerships:partnerships_list' %}">{% trans 'back to the list' %}</a>
    <a href="{% url 'partnerships:partnership_update' pk=partnership.pk %}">{% trans 'update' %}</a>
    <a href="{% url 'partnerships:partnership_delete' pk=partnership.pk %}">{% trans 'delete' %}</a>
  </div>
  {% endcomment %}
  
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-12">
          <dl class="dl-horizontal">
            <dt>{% trans "partner" %}</dt>
            <dd>{{ partnership.partner }}</dd>

            <dt>{% trans "UCL" %}</dt>
            <dd>
              {{ partnership.ucl_university }}
              {% if partnership.ucl_university_labo %} &gt; {{ partnership.ucl_university_labo }}{% endif %}
            </dd>

            <dt>{% trans "Academic Responsible" %}</dt>
            <dd></dd>
          </dl>
        </div>
      </div>
    </div
  </div>
{% endblock %}
