{% extends "layout.html" %}
{% load i18n static %}

{% block breadcrumb %}
  <li><a href="{% url 'partnerships:partnerships_list' %}" id="lnk_partnerships">{% trans 'partnerships' %}</a></li>
  <li><a href="{% url 'partnerships:partners:list' %}" id="lnk_partners">{% trans 'partners' %}</a></li>
  <li class="active">{% trans 'new_partner' %}</li>
{% endblock %}

{% block style %}
  <link rel="stylesheet" href="{% static "partnerships/partnerships.css" %}">
{% endblock %}

{% block content %}
  <div class="page-header">
    <h1>{% trans 'add_partner' %}</h1>
  </div>

  <div class="panel panel-default">
    <div class="panel-body partner-form">
      <form action="{% url "partnerships:partners:create" %}" method="post">
        {% csrf_token %}
        <div class="row">
          <div class="col-sm-12 col-md-6">
            {{ form.name }}
          </div>
          <div class="col-sm-12 col-md-6">
            <label for="id_partner-is_valid">{% trans "is_valid" %}</label>
            {{ form.is_valid }}
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 col-md-6">
            {{ form.start_date }}
          </div>
          <div class="col-sm-12 col-md-6">
            {{ form.end_date }}
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            {{ form.now_know_as }}
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <h2>{% trans "informations" %}</h2>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            {{ form.partner_type }}
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 col-md-4">
            {{ form.partner_code }}
          </div>
          <div class="col-sm-12 col-md-4">
            {{ form.pic_code }}
          </div>
          <div class="col-sm-12 col-md-4">
            {{ form.erasmus_code }}
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 col-md-3">
            {{ form.is_ies }}
            <label for="id_partner-is_ies">{% trans "is_ies" %}</label>
          </div>
          <div class="col-sm-12 col-md-3">
            {{ form.is_nonprofit }}
            <label for="id_partner-is_nonprofit">{% trans "is_nonprofit" %}</label>
          </div>
          <div class="col-sm-12 col-md-3">
            {{ form.is_public }}
            <label for="id_partner-is_public">{% trans "is_public" %}</label>
          </div>
          <div class="col-sm-12 col-md-3">
            {{ form.use_egracons }}
            <label for="id_partner-use_egracons">{% trans "use_egracons" %}</label>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            {{ form.type }}
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            {{ form.comment }}
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <h2>{% trans "contact_information" %}</h2>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 col-md-3">
            {{ form.phone }}
          </div>
          <div class="col-sm-12 col-md-4">
            {{ form.website }}
          </div>
          <div class="col-sm-12 col-md-5">
            {{ form.email }}
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <h2>{% trans "tags" %}</h2>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <h2>{% trans "medias" %}</h2>
          </div>
        </div>

        <hr>

        <div class="row">
          <div class="col-sm-12">
            <h2>{% trans "associated_entities" %}</h2>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <button type="submit" class="btn btn-primary pull-right">{% trans "add_partner" %}</button>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}