{% extends "layout.html" %}

{% load i18n static %}

{% block breadcrumb %}
  <li class="active">{% trans 'partnerships' %}</li>
{% endblock %}

{% block style %}
  <link rel="stylesheet" href="{% static "css/select2.min.css" %}">
  <link rel="stylesheet" href="{% static "partnerships/partnerships.css" %}">
{% endblock %}

{% block script %}
  <script src="{% static "js/select2.min.js" %}"></script>
  <script src="{% static "partnerships/list.js" %}"></script>
{% endblock %}

{% block content %}
  <div class="page-header">
    <h1>
      {% trans 'partnerships' %}
    </h1>
  </div>

  <div class="row">
    <a href="{% url 'partnerships:partnership_create' %}">{% trans 'new partnership' %}</a> 
  </div>
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="well">
        <div class="row">
          <div class="col-sm-12">
            <button class="btn btn-default pull-right" type="button"
                    data-toggle="collapse" data-target="#partnership-filters"
                    aria-expanded="false" aria-controls="partnership-filters">
              <i class="fa fa-filter"></i>
            </button>
          </div>
        </div>

        {% comment %}
          <div>
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
            <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
            <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
            <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
          </ul>
          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="home">foo</div>
            <div role="tabpanel" class="tab-pane" id="profile">bar</div>
            <div role="tabpanel" class="tab-pane" id="messages">xyz</div>
            <div role="tabpanel" class="tab-pane" id="settings">42</div>
          </div>
        </div>
        {% endcomment %}
        
        <div class="collapse" id="partnership-filters">
          <div class="row">
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active"><a href="#ucl" aria-controls="ucl" role="tab" data-toggle="tab">{% trans 'UCL' %}</a></li>
              <li role="presentation"><a href="#partner" aria-controls="profile" role="partner" data-toggle="tab">{% trans 'Partner' %}</a></li>
              <li role="presentation"><a href="#partnership" aria-controls="messages" role="partnership" data-toggle="tab">{% trans 'Partnership' %}</a></li>
            </ul>


            <form action="{% url "partnerships:partnerships_list" %}" method="get">
              {% csrf_token %}
              <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="ucl">
                  <fieldset>
                    <legend>{% trans 'UCL' %}</legend>
                    <p>
                      <label for="{{ form.ucl_university.id_for_label }}">{% trans "UCL faculty" %} :</label>
                      {{ form.ucl_university }}
                    </p>
                    <p>
                      <label for="{{ form.ucl_university_labo.id_for_label }}">{% trans "UCL laboratory" %} :</label>
                      {{ form.ucl_university_labo }}
                    </p>
                  </fieldset>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="partner">
                  <fieldset>
                    <legend>{% trans 'Partner' %}</legend>
                    <p>
                      <label for="{{ form.partner.id_for_label }}">{% trans "Partner" %} :</label>
                      {{ form.partner }}
                    </p>
                    <p>
                      <label for="{{ form.partner_entity.id_for_label }}">{% trans "Partner entity" %} :</label>
                      {{ form.partner_entity }}
                    </p>
                    <p>
                      <label for="{{ form.partner_type.id_for_label }}">{% trans "Partner entity" %} :</label>
                      {{ form.partner_type }}
                    </p>
                  </fieldset>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="partnership">
                  <fieldset>
                    <legend>{% trans 'Partnership' %}</legend>
                  </fieldset>
                </div>
                
                {% comment %}{{ form.as_p }}{% endcomment %}
              {% comment %}
              <div class="form-group">
                <div class="col-sm-12 col-md-8">{{ form.value }}</div>
              </div>
              {% endcomment %}
              <div class="col-md-12">
                <button type="submit" class="btn btn-primary pull-right">{% trans "filter" %}</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      
      <div id="results">
        {% include "partnerships/includes/partnerships_list_results.html" %}
      </div>
    </div>
  </div>
    
{% endblock %}
