{% extends "layout.html" %}
{% load i18n static %}

{% block breadcrumb %}
  <li><a href="{% url 'partnerships:partnerships_list' %}" id="lnk_partnerships">{% trans 'partnerships' %}</a></li>
  <li><a href="{% url 'partnerships:partners:list' %}" id="lnk_partners">{% trans 'partners' %}</a></li>
  <li class="active">{% trans 'new_partner' %}</li>
{% endblock %}

{% block style %}
  <link rel="stylesheet" href="{% static "css/select2.min.css" %}">
  <link rel="stylesheet" href="{% static "partnerships/partnerships.css" %}">
{% endblock %}

{% block script %}
  <script src="{% static "js/select2.min.js" %}"></script>
  <script>
  $('#id_partner-tags').select2({
      language: "fr",
      width: "100%",
      placeholder: "Tags"
  });
  </script>
{% endblock %}

{% block content %}
  <div class="page-header">
    <h1>{% trans 'add_partner' %}</h1>
  </div>

  {{ form.non_field_errors }}

  <div class="panel panel-default">
    <div class="panel-body partner-form">
      <form action="{% url "partnerships:partners:create" %}" method="post">
        {% csrf_token %}
        <div class="row">
          <div class="col-sm-12 col-md-6">
            {{ form.name.errors }}
            {{ form.name }}
          </div>
          <div class="col-sm-12 col-md-6">
            {{ form.is_valid.errors }}
            {{ form.is_valid.label_tag }}
            {{ form.is_valid }}
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 col-md-6">
            {{ form.start_date.errors }}
            {{ form.start_date }}
          </div>
          <div class="col-sm-12 col-md-6">
            {{ form.end_date.errors }}
            {{ form.end_date }}
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            {{ form.now_know_as.errors }}
            {{ form.now_know_as }}
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <h2>{% trans "informations" %}</h2>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            {{ form.partner_type.errors }}
            {{ form.partner_type }}
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 col-md-4">
            {{ form.partner_code.errors }}
            {{ form.partner_code }}
          </div>
          <div class="col-sm-12 col-md-4">
            {{ form.pic_code.errors }}
            {{ form.pic_code }}
          </div>
          <div class="col-sm-12 col-md-4">
            {{ form.erasmus_code.errors }}
            {{ form.erasmus_code }}
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 col-md-3">
            {{ form.is_ies.errors }}
            {{ form.is_ies }}
            {{ form.is_ies.label_tag }}
          </div>
          <div class="col-sm-12 col-md-3">
            {{ form.is_nonprofit.errors }}
            {{ form.is_nonprofit }}
            {{ form.is_nonprofit.label_tag }}
          </div>
          <div class="col-sm-12 col-md-3">
            {{ form.is_public.errors }}
            {{ form.is_public }}
            {{ form.is_public.label_tag }}
          </div>
          <div class="col-sm-12 col-md-3">
            {{ form.use_egracons.errors }}
            {{ form.use_egracons }}
            {{ form.use_egracons.label_tag }}
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            {{ form.type.errors }}
            {{ form.type }}
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            {{ form.comment.errors }}
            {{ form.comment }}
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <h2>{% trans "contact_information" %}</h2>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 col-md-3">
            {{ form.phone.errors }}
            {{ form.phone }}
          </div>
          <div class="col-sm-12 col-md-4">
            {{ form.website.errors }}
            {{ form.website }}
          </div>
          <div class="col-sm-12 col-md-5">
            {{ form.email.errors }}
            {{ form.email }}
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <h2>{% trans "tags" %}</h2>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            {{ form.tags.errors }}
            {{ form.tags }}
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <h2>{% trans "medias" %}</h2>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <p>{% trans "add_media_after_creation" %}</p>
          </div>
        </div>

        <hr>

        <div class="row">
          <div class="col-sm-12">
            <h2>{% trans "associated_entities" %}</h2>
          </div>
        </div>

        {{ entities_formset.non_field_errors }}
        {{ entities_formset.management_form }}

        {% for entity_form in entities_formset %}
          {% include "partnerships/includes/partner_entity_form.html" with form=entity_form %}
        {% endfor %}

        <div class="row">
          <div class="col-sm-12">
            <button type="submit" class="btn btn-primary pull-right">{% trans "add_partner" %}</button>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}