{% extends "partnerships/partnership/partnership_list.html" %}
{% load i18n %}


{% block breadcrumb %}
  <li class="active">{% trans 'Agreements' %}</li>
{% endblock %}

{% block header_title %}
  {% trans 'Agreements' %}
{% endblock %}

{% block export_button %}
  <div class="pull-right">
    {% url 'partnerships:export_agreements' as export_url %}
    <a href="{{ export_url }}" data-base-href="{{ export_url }}"
       class="btn btn-default btn-export pull-right download">
      {% trans "agreements_export" %}
    </a>
  </div>
{% endblock %}

{% block datatable %}
  <script>
    initDataTable('partnershipIds', '{{ url }}', [
      { name: 'partner', data: 'partner', targets: 0 },
      { name: 'country', data: 'country', targets: 1 },
      { name: 'city', data: 'city', targets: 2 },
      { data: 'supervisor', targets: 3, orderable: false },
      { name: 'ucl', data: 'entities_acronyms', targets: 4 },
      { data: 'coverage', targets: 5, orderable: false },
      { data: 'status', targets: 6, orderable: false },
      {
        data: 'url',
        targets: 7,
        orderable: false,
        render: renderLink('<i class="fas fa-eye"></i>', 'btn btn-default'),
      },
    ]);
  </script>
{% endblock datatable %}

{% block column_headers %}
  <td>{% trans "partner" %}</td>
  <td>{% trans "country" %}</td>
  <td>{% trans "city" %}</td>
  <td>{% trans "partnership_supervisor" %}</td>
  <td>{% trans "ucl" %}</td>
  <td>{% trans "Coverage" %}</td>
  <td>{% trans "status" %}</td>
{% endblock %}
