{% load i18n %}
<div class="row">
  <div class="col-sm-12 col-md-5">
    <div>
      <dl class="dl-horizontal">
        <dt>{% trans "academic_years" %}</dt>
        <dd>{{ agreement.start_academic_year }} > {{ agreement.end_academic_year }}</dd>

        <dt>{% trans "status" %}</dt>
        <dd>{{ agreement.get_status_display }}</dd>

        <dt>{% trans "eligible" %}</dt>
        <dd>
          <i class="fa {{ agreement.eligible|yesno:"fa-check text-success,fa-times text-danger" }}"></i>

          {% if agreement.eligible %}
            <ul class="list-unstyled">
            {% for financing in agreement.get_financings %}
              <li>{{ financing }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        </dd>

        <dt>{% trans "comment" %}</dt>
        <dd>{{ agreement.comment|linebreaksbr }}</dd>

        {% if show_partnership %}
        <dt>{% trans "ucl_university" %}</dt>
        <dd>{{ agreement.partnership.entities_acronyms }}</dd>
        {% endif %}
      </dl>
    </div>
  </div>
  <div class="col-sm-12 col-md-5 partner-media">
    {% include "partnerships/includes/media_detail.html" with media=agreement.media hide_actions=True %}
  </div>
  <div class="col-sm-12 col-md-2">
    {% if show_partnership %}<a href="{{ agreement.partnership.get_absolute_url }}">{% trans "partnership" %}</a>{% endif %}
    {% if can_change %}
    <div class="btn-group pull-right">
      <a href="{% url "partnerships:agreements:update" partnership.id agreement.id %}"
         class="btn btn-default">
        <i class="fa fa-pencil fa-fw"></i>
      </a>
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="{% url "partnerships:agreements:delete" partnership.id agreement.id %}"
           class="modal-link"
           data-modal-danger
           data-modal-submit="{% trans "delete_partnership_agreement" %}"
           data-modal-title="{{ agreement }}"
           data-modal="modal-form"><i class="fa fa-times fa-fw"></i> {% trans "delete_partnership_agreement" %}</a></li>
      </ul>
    </div>
    {% endif %}
  </div>
</div>
