{% load i18n %}
<p>
  {% if contact.first_name or contact.last_name %}<strong>{{ contact }}</strong> {% endif %}<br>
  {% if contact.function or contact.society %}{{ contact.function|default_if_none:"" }}{% if contact.function and contact.society %}, {% endif %}{{ contact.society|default_if_none:"" }}<br>{% endif %}
  {% if contact.phone %}<i class="fa fa-fw fa-phone" title="{% trans "phone" %}"></i> {{ contact.phone }}{% endif %}
  {% if contact.mobile_phone %}<i class="fa fa-fw fa-mobile" title="{% trans "mobile_phone" %}"></i> {{ contact.mobile_phone }}{% endif %}
  {% if contact.fax %}<i class="fa fa-fw fa-fax" title="{% trans "fax" %}"></i> {{ contact.fax }}{% endif %}<br>
  {% if contact.email %}{{ contact.email|urlize }}{% endif %}
</p>
{% if contact.comment %}<p>{{ contact.comment|linebreaksbr }}</p>{% endif %}
