{% load bootstrap3 i18n %}
{% csrf_token %}

{% bootstrap_form_errors form %}

<div class="row">
  <div class="col-sm-12">
    {% bootstrap_field form.name %}
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    {% bootstrap_field form.description %}
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    {% bootstrap_field form.file %}
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    {% bootstrap_field form.url %}
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    {% bootstrap_field form.visibility %}
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <p>{% trans "mandatory_fields_help_text" %}</p>
  </div>
</div>
