{% load i18n url_utils %}
{% if is_paginated %}
<nav aria-label="Page navigation">
  <ul class="pagination">
    {% if page_obj.has_previous %}
    <li>
      <a href="{% change_current_url_param 'page' '1' request.GET.urlencode %}" aria-label="{% trans "first" %}">
        <span aria-hidden="true"><i class="fa fa-step-backward"></i></span>
      </a>
    </li>
    <li>
      <a href="{% change_current_url_param 'page' page_obj.previous_page_number request.GET.urlencode %}" aria-label="{% trans "previous" %}">
        <span aria-hidden="true"><i class="fa fa-arrow-left"></i></span>
      </a>
    </li>
    {% else %}
      <li class="disabled"><span aria-hidden="true"><i class="fa fa-arrow-left"></i></span></li>
    {% endif %}
    {% for page_number in paginator.page_range %}
      {# Only show neighbours pages #}
      {% if page_number|add:paginate_neighbours >= page_obj.number and page_obj.number|add:paginate_neighbours >= page_number %}
        {% if page_number == page_obj.number %}
        <li class="active"><a href="{% change_current_url_param 'page' page_number request.GET.urlencode %}">{{ page_number }}</a></li>
        {% else %}
        <li><a href="{% change_current_url_param 'page' page_number request.GET.urlencode %}">{{ page_number }}</a></li>
        {% endif %}
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
    <li>
      <a href="{% change_current_url_param 'page' page_obj.next_page_number request.GET.urlencode %}" aria-label="{% trans "next" %}">
        <span aria-hidden="true"><i class="fa fa-arrow-right"></i></span>
      </a>
    </li>
    <li>
      <a href="{% change_current_url_param 'page' paginator.num_pages request.GET.urlencode %}" aria-label="{% trans "last" %}">
        <span aria-hidden="true"><i class="fa fa-step-forward"></i></span>
      </a>
    </li>
    {% else %}
      <li class="disabled"><span aria-hidden="true"><i class="fa fa-arrow-right"></i></span></li>
    {% endif %}
  </ul>
</nav>
{% endif %}