{% load i18n %}
<div class="row">
  <div class="col-sm-12">
    {{ form.name }}
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    {{ form.comment }}
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <h3>{% trans "address" %}</h3>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    {{ form.address_name }}
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    {{ form.address_address }}
  </div>
</div>

<div class="row">
  <div class="col-sm-12 col-md-3">
    {{ form.address_postal_code }}
  </div>
  <div class="col-sm-12 col-md-4">
    {{ form.address_city }}
  </div>
  <div class="col-sm-12 col-md-5">
    {{ form.address_country }}
  </div>
</div>


<div class="row">
  <div class="col-sm-12">
    <h3>{% trans "contact_in" %}</h3>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    {{ form.contact_in_title }}
  </div>
</div>

<div class="row">
  <div class="col-sm-12 col-md-4">
    {{ form.contact_in_last_name }}
  </div>
  <div class="col-sm-12 col-md-4">
    {{ form.contact_in_first_name }}
  </div>
  <div class="col-sm-12 col-md-4">
    {{ form.contact_in_function }}
  </div>
</div>

<div class="row">
  <div class="col-sm-12 col-md-2">
    {{ form.contact_in_phone }}
  </div>
  <div class="col-sm-12 col-md-2">
    {{ form.contact_in_mobile_phone }}
  </div>
  <div class="col-sm-12 col-md-2">
    {{ form.contact_in_fax }}
  </div>
  <div class="col-sm-12 col-md-6">
    {{ form.contact_in_email }}
  </div>
</div>


<div class="row">
  <div class="col-sm-12">
    <h3>{% trans "contact_out" %}</h3>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    {{ form.contact_out_title }}
  </div>
</div>

<div class="row">
  <div class="col-sm-12 col-md-4">
    {{ form.contact_out_last_name }}
  </div>
  <div class="col-sm-12 col-md-4">
    {{ form.contact_out_first_name }}
  </div>
  <div class="col-sm-12 col-md-4">
    {{ form.contact_out_function }}
  </div>
</div>

<div class="row">
  <div class="col-sm-12 col-md-2">
    {{ form.contact_out_phone }}
  </div>
  <div class="col-sm-12 col-md-2">
    {{ form.contact_out_mobile_phone }}
  </div>
  <div class="col-sm-12 col-md-2">
    {{ form.contact_out_fax }}
  </div>
  <div class="col-sm-12 col-md-6">
    {{ form.contact_out_email }}
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <h3>{% trans "parent_entity" %}</h3>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    {{ form.parent }}
  </div>
</div>
