{% load i18n %}
{{ form.non_field_errors }}

{% for hidden in form.hidden_fields %}
    {{ hidden }}
{% endfor %}

<div class="row">
  <div class="col-sm-12">
    {{ form.name.errors }}
    {{ form.name }}
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    {{ form.comment.errors }}
    {{ form.comment }}
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <h4>{% trans "address" %}</h4>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    {{ form.address_name.errors }}
    {{ form.address_name }}
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    {{ form.address_address.errors }}
    {{ form.address_address }}
  </div>
</div>

<div class="row">
  <div class="col-sm-12 col-md-3">
    {{ form.address_postal_code.errors }}
    {{ form.address_postal_code }}
  </div>
  <div class="col-sm-12 col-md-4">
    {{ form.address_city.errors }}
    {{ form.address_city }}
  </div>
  <div class="col-sm-12 col-md-5">
    {{ form.address_country.errors }}
    {{ form.address_country }}
  </div>
</div>


<div class="row">
  <div class="col-sm-12">
    <h4>{% trans "contact_in" %}</h4>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    {{ form.contact_in_type.errors }}
    {{ form.contact_in_type }}
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    {{ form.contact_in_title.errors }}
    {{ form.contact_in_title }}
  </div>
</div>

<div class="row">
  <div class="col-sm-12 col-md-4">
    {{ form.contact_in_last_name.errors }}
    {{ form.contact_in_last_name }}
  </div>
  <div class="col-sm-12 col-md-4">
    {{ form.contact_in_first_name.errors }}
    {{ form.contact_in_first_name }}
  </div>
  <div class="col-sm-12 col-md-4">
    {{ form.contact_in_function.errors }}
    {{ form.contact_in_function }}
  </div>
</div>

<div class="row">
  <div class="col-sm-12 col-md-2">
    {{ form.contact_in_phone.errors }}
    {{ form.contact_in_phone }}
  </div>
  <div class="col-sm-12 col-md-2">
    {{ form.contact_in_mobile_phone.errors }}
    {{ form.contact_in_mobile_phone }}
  </div>
  <div class="col-sm-12 col-md-2">
    {{ form.contact_in_fax.errors }}
    {{ form.contact_in_fax }}
  </div>
  <div class="col-sm-12 col-md-6">
    {{ form.contact_in_email.errors }}
    {{ form.contact_in_email }}
  </div>
</div>


<div class="row">
  <div class="col-sm-12">
    <h4>{% trans "contact_out" %}</h4>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    {{ form.contact_out_type.errors }}
    {{ form.contact_out_type }}
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    {{ form.contact_out_title.errors }}
    {{ form.contact_out_title }}
  </div>
</div>

<div class="row">
  <div class="col-sm-12 col-md-4">
    {{ form.contact_out_last_name.errors }}
    {{ form.contact_out_last_name }}
  </div>
  <div class="col-sm-12 col-md-4">
    {{ form.contact_out_first_name.errors }}
    {{ form.contact_out_first_name }}
  </div>
  <div class="col-sm-12 col-md-4">
    {{ form.contact_out_function.errors }}
    {{ form.contact_out_function }}
  </div>
</div>

<div class="row">
  <div class="col-sm-12 col-md-2">
    {{ form.contact_out_phone.errors }}
    {{ form.contact_out_phone }}
  </div>
  <div class="col-sm-12 col-md-2">
    {{ form.contact_out_mobile_phone.errors }}
    {{ form.contact_out_mobile_phone }}
  </div>
  <div class="col-sm-12 col-md-2">
    {{ form.contact_out_fax.errors }}
    {{ form.contact_out_fax }}
  </div>
  <div class="col-sm-12 col-md-6">
    {{ form.contact_out_email.errors }}
    {{ form.contact_out_email }}
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <h4>{% trans "parent_entity" %}</h4>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    {{ form.parent.errors }}
    {{ form.parent }}
  </div>
</div>
