{% load bootstrap3 i18n static %}

{% bootstrap_form_errors form %}
{% bootstrap_form_errors form_year %}
{{ form.partnership_type }}

<h2>{% trans 'partner_university' %}</h2>
<div class="row">
  <div class="col-xs-12">
      {% bootstrap_field form.partner_entities %}
  </div>
</div>

<h2>{% trans 'ucl_entity_partner' %}</h2>
<div class="row">
  <div class="col-xs-12">
    {% bootstrap_field form.ucl_entity %}
  </div>
  <div class="col-xs-12">
    {% bootstrap_field form.supervisor %}
  </div>
</div>

<h2>{% trans "partnership_subject" %}</h2>

{{ form_year.entity }}

<div class="row">
  <div class="col-xs-12">
    {% bootstrap_field form_year.education_fields %}
  </div>
</div>

<h4>{% trans "planned_activity" %}</h4>
<div class="row" id="partnership-form-sm-inputs">
  <div class="col-xs-12 col-sm-4">
    {% bootstrap_field form_year.is_sms %}
  </div>
  <div class="col-xs-12 col-sm-4">
    {% bootstrap_field form_year.is_smp %}
  </div>
  <div class="col-xs-12 col-sm-4">
    {% bootstrap_field form_year.is_smst %}
  </div>
</div>
<div class="row collapse{% if form_year.is_sms.value or form_year.is_smp.value or form_year.is_smst.value %} in{% endif %}" id="partnership-form-sm-details">
  <div class="col-xs-12 required_field">
    {% bootstrap_field form_year.education_levels %}
  </div>
  <div class="col-xs-12">
    {% bootstrap_field form_year.entities %}
  </div>
  <div class="col-xs-12">
    {% bootstrap_field form_year.offers %}
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-6">
    {% bootstrap_field form_year.is_sta %}
  </div>
  <div class="col-xs-12 col-sm-6">
    {% bootstrap_field form_year.is_stt %}
  </div>
</div>

{% if form_year.eligible %}
  <h3>{% trans "partnership_funding" %}</h3>

  <div class="row">
    <div class="col-xs-12">
      {% bootstrap_field form_year.eligible %}
    </div>

    <div class="col-xs-12">
      {% bootstrap_field form_year.funding %}
    </div>
  </div>
{% endif %}

<div class="row">
  <div class="col-xs-12">
    {% bootstrap_field form.tags %}
  </div>
  <div class="col-xs-12">
    {% bootstrap_field form.comment %}
  </div>
  {% if form.is_public %}
    <div class="col-xs-12">
      {% bootstrap_field form.is_public %}
    </div>
  {% endif %}
</div>

<h3>{% trans "partnership_when" %}</h3>

<div class="row">
  {% if form_year.start_academic_year %}
    <div class="col-xs-12">
      {% bootstrap_field form_year.start_academic_year %}
    </div>
  {% else %}
    <div class="col-xs-12">
      <dl>
        <dt>{% trans "start_academic_year" %}</dt>
        <dd>{{ object.start_academic_year }}</dd>
      </dl>
    </div>
  {% endif %}
  {% if form_year.from_academic_year %}
    <div class="col-xs-12">
      <dl>
        <dt>{% trans "current_academic_year" %}</dt>
        <dd>{{ current_academic_year }}</dd>
      </dl>
    </div>
    <div class="col-xs-12">
      {% bootstrap_field form_year.from_academic_year %}
    </div>
  {% endif %}
  <div class="col-xs-12">
    {% bootstrap_field form_year.end_academic_year %}
  </div>
</div>

{{ form.media }}
{{ form_year.media }}

<script src="{% static 'partnerships/reset_form.js' %}" type="text/javascript"></script>
<script src="{% static 'partnerships/partnerships_form.js' %}" type="text/javascript"></script>
