{% extends "layout.html" %}
{% load i18n %}

{% block breadcrumb %}
  <li><a href="{% url 'partnerships:list' %}" id="lnk_partnerships">{% trans 'partnerships' %}</a></li>
  <li><a href="{% url 'partnerships:detail' pk=partnership.pk %}">{% trans 'partnership' %}</a></li>
  <li class="active">{% trans 'partnership_contact_update' %}</li>
{% endblock %}

{% block content %}
  <div class="page-header">
    <h1>{% trans 'partnership_contact_update' %}</h1>
  </div>
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-12">
          {% include 'partnerships/contacts/includes/partnership_contact_form.html' %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
