{% extends "layout.html" %}
{% load i18n static %}

{% block breadcrumb %}
  <li><a href="{% url 'partnerships:list' %}" id="lnk_partnerships">{% trans 'Partnerships' %}</a></li>
  <li><a href="{% url 'partnerships:detail' partnership.pk %}" id="lnk_partners">{{ partnership }}</a></li>
  <li class="active">{% trans "add_media" %}</li>
{% endblock %}

{% block style %}
  <link rel="stylesheet" href="{% static "partnerships/partnerships.css" %}">
{% endblock %}

{% block content %}
<div class="page-header">
  <h1>{% trans "add_media" %}</h1>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <form action="{% url "partnerships:medias:create" partnership.id %}" method="post" class="partner-form" enctype="multipart/form-data">
      {% include "partnerships/includes/media_form.html" %}


      <div class="row button-row">
        <div class="col-sm-6">
          <a href="{% url "partnerships:detail" partnership.pk %}" class="btn btn-default btn-block">{% trans "cancel" %}</a>
        </div>
        <div class="col-sm-6">
          <button type="submit" id="add-media" class="btn btn-primary btn-block">{% trans "add_media" %}</button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
