{% extends "layout.html" %}
{% load bootstrap3 i18n static osis_role %}

{% block breadcrumb %}
  <li><a href="{% url 'partnerships:list' %}" id="lnk_partnerships">{% trans 'Partnerships' %}</a></li>
  <li class="active">{% trans 'partners' %}</li>
{% endblock %}

{% block style %}
  <link rel="stylesheet" href="{% static "partnerships/partnerships.css" %}">
{% endblock %}

{% block script %}
  <script src="{% static "js/osis_datatable.js" %}"></script>
  <script src="{% static "partnerships/list.js" %}"></script>
  <script>
    initDataTable('partnersIds', '{% url "partnerships:partners:list" %}', [
      {
        name: 'name',
        data: 'name',
        targets: 0,
        render: renderLink('data'),
      },
      { name: 'country', data: 'country', targets: 1 },
      { name: 'city', data: 'city', targets: 2 },
      { name: 'erasmus_code', data: 'erasmus_code', targets: 3 },
      { name: 'partner_type', data: 'partner_type', targets: 4 },
      { name: 'is_valid', data: 'is_valid', targets: 5, render: renderBool },
      { data: 'is_actif', targets: 6, render: renderBool, orderable: false },
      {
        name: 'partnerships_count',
        data: 'partnerships_count',
        targets: 7,
        render: function (data, type, row) {
          return '<a href="{% url "partnerships:list" %}?partner=' + row.id + '">' + data + '</a>'
        },
      },
      {
        data: 'url',
        targets: 8,
        orderable: false,
        render: renderLink('<i class="fas fa-eye"></i>', 'btn btn-default'),
      },
    ]);
  </script>
{% endblock %}

{% block content %}
<div class="page-header">
  <h1>{% trans 'partners' %}</h1>
</div>

{% url 'organization_edit' organization_id=organization.id as url_identification_edit %}
{% has_perm 'partnership.add_partner' user as can_add_partner %}

<div class="panel panel-default">
  <div class="panel-body">

    <div class="well">
      <div class="row">
        <div class="col-sm-12">
          <div class="pull-right">
            {% if can_add_partner %}
            <a href="{% url "partnerships:partners:create" %}" class="btn btn-default"><i class="fas fa-fw fa-plus"></i> {% trans "add_partner" %}</a>
            {% endif %}
            <button class="btn btn-default" type="button"
                    data-toggle="collapse" data-target="#partner-filters"
                    aria-expanded="false" aria-controls="partner-filters">
              <i class="fas fa-filter"></i> <span class="hidden-xs">{% trans "search_partners" %}</span>
            </button>
          </div>
        </div>
      </div>
      {% with form=filter.form %}
        <div class="partner-form collapse{% if form.is_bound %} in{% endif %}" id="partner-filters">
          <form action="{% url "partnerships:partners:list" %}" id="filter-form" method="get" autocomplete="off">
            <div class="row">
              <div class="col-sm-12 col-md-8">{% bootstrap_field form.name %}</div>
              <div class="col-sm-12 col-md-4">{% bootstrap_field form.is_ies %}</div>
            </div>
            <div class="row">
              <div class="col-sm-12 col-md-4">{% bootstrap_field form.partner_type %}</div>
              <div class="col-sm-12 col-md-4">{% bootstrap_field form.pic_code %}</div>
              <div class="col-sm-12 col-md-4">{% bootstrap_field form.erasmus_code %}</div>
            </div>
            <div class="row">
              <div class="col-sm-12 col-md-4">{% bootstrap_field form.city %}</div>
              <div class="col-sm-12 col-md-4">{% bootstrap_field form.country %}</div>
              <div class="col-sm-12 col-md-4">{% bootstrap_field form.continent %}</div>
            </div>
            <div class="row">
              <div class="col-sm-12 col-md-4">{% bootstrap_field form.is_valid %}</div>
              <div class="col-sm-12 col-md-4">{% bootstrap_field form.is_actif %}</div>
            </div>
            <div class="row">
              <div class="col-sm-12 col-md-12">{% bootstrap_field form.tags %}</div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="pull-right">
                    <button type="reset" class="btn btn-default">{% trans "reset_search_fields" %}</button>
                    <button type="submit" class="submit-button btn btn-primary">{% trans "search" %}</button>
                  </div>
              </div>
            </div>
          </form>

          {{ form.media }}
        </div>
      {% endwith %}
    </div>

    <div id="results">
      <div class="loader">
        <div class="spinner">
          <i class="fas fa-circle-o-notch fa-spin fa-fw fa-5x"></i>
        </div>
      </div>

      <div class="table-responsive">
        <table id="result-list" class="table table-striped table-hover">
          <thead>
          <tr>
            <td>{% trans "partner" %}</td>
            <td>{% trans "country" %}</td>
            <td>{% trans "city" %}</td>
            <td>{% trans "code" %}</td>
            <td>{% trans "type" %}</td>
            <td>{% trans "valid" %}</td>
            <td>{% trans "still_actif" %}</td>
            <td>{% trans "Partnerships" %}</td>
            <td></td>
          </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
        <div class="pull-right">
          <a href="{% url "partnerships:partners:export" %}"
             data-base-href="{% url "partnerships:partners:export" %}"
             class="btn btn-default btn-export pull-right download">
            {% trans "partners_export" %}
          </a>
        </div>
      </div>
    </div>

  </div>
</div>
{% endblock %}
