{% extends "layout.html" %}
{% load bootstrap3 i18n static %}

{% block breadcrumb %}
  <li><a href="{% url 'partnerships:partnerships_list' %}" id="lnk_partnerships">{% trans 'partnerships' %}</a></li>
  <li><a href="{% url 'partnerships:partners:list' %}" id="lnk_partners">{% trans 'partners' %}</a></li>
  <li class="active">{% trans 'new_partner' %}</li>
{% endblock %}

{% block style %}
  <link rel="stylesheet" href="{% static 'css/bootstrap-datetimepicker.min.css' %}" type='text/css'>
  <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker3.min.css' %}" type='text/css'>
  <link rel="stylesheet" href="{% static 'css/daterangepicker.css' %}" type='text/css'>
  <link rel="stylesheet" href="{% static "partnerships/partnerships.css" %}">
{% endblock %}

{% block script %}
  <script src="{% static 'js/moment.min.js' %}"></script>
  <script src="{% static 'js/locales/moment-fr.js' %}"></script>
  <script src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
  <script src="{% static 'js/daterangepicker.js' %}"></script>
  <script src="{% static 'js/dates-input.js' %}"></script>
  <script src="{% static "partnerships/partner_create.js" %}"></script>
{% endblock %}

{% block content %}
  <div class="page-header">
    <h1>{% trans 'add_partner' %}</h1>
  </div>

  {% bootstrap_form_errors form %}

  <div class="panel panel-default">
    <div class="panel-body partner-form">
      <form action="{% url "partnerships:partners:create" %}" method="post">
        {% csrf_token %}

        {% include "partnerships/partners/includes/partner_form.html" with show_similar=True %}

        <div class="row">
          <div class="col-sm-12">
            <h2>{% trans "medias" %}</h2>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <p>{% trans "add_media_after_creation" %}</p>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <h2>{% trans "associated_entities" %}</h2>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <p>{% trans "add_entities_after_creation" %}</p>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <p class="text-danger">{% trans "mandatory_fields_help_text" %}</p>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <a href="{% url "partnerships:partners:list" %}" class="btn btn-default btn-block">{% trans "cancel" %}</a>
          </div>
          <div class="col-sm-6">
            <button type="submit" class="btn btn-primary btn-block">{% trans "add_partner" %}</button>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}