{% extends "bootstrap5/layout.html" %}
{% load django_bootstrap5 i18n static %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'partnerships:list' %}"
                                   id="lnk_partnerships">{% trans 'Partnerships' %}</a></li>
    <li class="breadcrumb-item active">{{ partnership }}</li>
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/bootstrap-datetimepicker.min.css' %}" type='text/css'>
    <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker3.min.css' %}" type='text/css'>
    <link rel="stylesheet" href="{% static 'css/daterangepicker.css' %}" type='text/css'>
    <link rel="stylesheet" href="{% static 'partnerships/partnerships.css' %}">
{% endblock %}

{% block script %}
    <script src="{% static 'js/moment.min.js' %}"></script>
    <script src="{% static 'js/locales/moment-fr.js' %}"></script>
    <script src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
    <script src="{% static 'js/daterangepicker.js' %}"></script>
    <script src="{% static 'js/dates-input.js' %}"></script>
{% endblock %}

{% block content %}

    <div class="page-header">
        <h1>{{ partnership }}</h1>
    </div>

    <div class="card">
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {{ formsets.management_form }}
                {% for formset in formsets %}
                    <h5>{% trans 'partner' %} : {{ formset.instance.partnership_relation.entity.organization.name }}</h5>
                    <hr>
                    <div>
                        {% bootstrap_form formset %}
                    </div>
                {% endfor %}
                <br>
                <h3>{% trans "partnership_when" %}</h3>
                <div class="row">
                    {% if form.start_academic_year %}
                        <div class="col-12">
                            {% bootstrap_field form.start_academic_year %}
                        </div>
                    {% else %}
                        <div class="col-12">
                            <dl>
                                <dt>{% trans "start_academic_year" %}</dt>
                                <dd>{{ object.start_academic_year }}</dd>
                            </dl>
                        </div>
                    {% endif %}
                    {% if form.from_academic_year %}
                        <div class="col-12">
                            <dl>
                                <dt>{% trans "current_academic_year" %}</dt>
                                <dd>{{ current_academic_year }}</dd>
                            </dl>
                        </div>
                        <div class="col-12">
                            {% bootstrap_field form.from_academic_year %}
                        </div>
                    {% endif %}
                    <div class="col-12">
                        {% bootstrap_field form.end_academic_year %}
                    </div>
                </div>
                <button class="btn btn-primary" type="submit">{% trans 'save' %}</button>
            </form>
        </div>
    </div>
    <script>
        window.history.pushState(null, "", window.location.href);

        window.onpopstate = function () {
            window.history.pushState(null, "", window.location.href);
        };
    </script>
{% endblock %}