{% extends "partnerships/partnership/partnership_detail.html" %}{% load i18n partnerships static years osis_role getattr %}

{% block partnership_years %}
  {% with partnership_year=partnership.years.first %}
    <dl class="dl-horizontal">
      <dt>{% trans "education_fields" %}</dt>
      <dd>
        <ul class="list-unstyled">
          {% for education_field in partnership_year.education_fields.all %}
            <li>
              <strong>{{ education_field.code }}</strong>
              - {{ education_field|getattr:domain_title }}
            </li>
          {% endfor %}
        </ul>
      </dd>
      <dt>{% trans "education_levels" %}</dt>
      <dd>
        <ul class="list-unstyled">
          {% for education_level in partnership_year.education_levels.all %}
            <li>
              <strong>{{ education_level.code }}</strong>
              - {{ education_level.label }}
            </li>
          {% endfor %}
        </ul>
      </dd>
      <dt>{% trans "partnership_missions" %}</dt>
      <dd>
        <ul class="list-unstyled">
          {% for mission in partnership.missions.all %}
            <li>
              <strong>{{ mission.code }}</strong> - {{ mission.label }}
            </li>
          {% endfor %}
        </ul>
      </dd>
      <dt>{% trans "financing" %}</dt>
      <dd>{{ partnership_year.funding_source }}</dd>
      {% if partnership_year.funding_program %}
        <dt>{% trans "funding_program" %}</dt>
        <dd>{{ partnership_year.funding_program }}</dd>
      {% endif %}
      {% if partnership_year.funding_type %}
        <dt>{% trans "funding_type" %}</dt>
        <dd>{{ partnership_year.funding_type }}</dd>
      {% endif %}
      <dt>{% trans "partnership_year_project_title" %}</dt>
      <dd>{{ partnership.project_title }}</dd>
      <dt>{% trans "partnership_year_id_number" %}</dt>
      <dd>{{ partnership.id_number }}</dd>
      <dt>{% trans "partnership_year_description" %}</dt>
      <dd>{{ partnership.description|linebreaks }}</dd>
      <dt>{% trans "partnership_year_ucl_status" %}</dt>
      <dd>{{ partnership.get_ucl_status_display }}</dd>
    </dl>
  {% endwith %}
{% endblock %}
