{% extends "layout.html" %}
{% load i18n partnerships static years osis_role getattr %}

{% block breadcrumb %}
  <li><a href="{% url 'partnerships:list' %}" id="lnk_partnerships">{% trans 'Partnerships' %}</a></li>
  <li class="active">{{ partnership }}</li>
{% endblock %}

{% block style %}
  <link rel="stylesheet" href="{% static "partnerships/partnerships.css" %}">
{% endblock %}

{% block script %}
  <script src="{% static "partnerships/modal_form.js" %}"></script>
  <script>
    $('#show-all-years').click(function() {
      $(this).remove();
    });
  </script>
{% endblock %}

{% block content %}
  {% has_perm 'partnership.change_partnership' user partnership as can_change %}
  {% has_perm 'partnership.delete_partnership' user partnership as can_delete %}
  <div class="page-header">
    <h1>{{ partnership }}</h1>
  </div>

  <div class="panel panel-default">
    <div class="panel-body">
      <!-- Partenariat -->
      <div class="row">
        <div class="col-sm-12">
          {% if can_delete %}
          <a href="{% url 'partnerships:delete' pk=partnership.pk %}" class="btn btn-default pull-right">
            <i class="fas fa-fw fa-trash-alt"></i> {% trans 'delete_partnership' %}
          </a>
          {% endif %}
          {% if can_change %}
          <a href="{% url 'partnerships:update' pk=partnership.pk %}" class="btn btn-default pull-right">
            <i class="fas fa-fw fa-pencil-alt"></i> {% trans 'edit_partnership' %}
          </a>
          {% endif %}
          <p>
            <em>
              {% blocktrans with created=partnership.created|date:"SHORT_DATE_FORMAT" author=partnership.author.user modified=partnership.modified|date:"SHORT_DATE_FORMAT" %}created_{{ created }}_by_{{ author }}_modified_{{ modified }}{% endblocktrans %}
            </em>
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 col-md-12">
          <dl class="dl-horizontal">
            <dt>{% trans "partnership_type" %}</dt>
            <dd>{{ partnership.get_partnership_type_display }}</dd>
            <dt>{% trans "partner" %}</dt>
            <dd>
              <a href="{{ partnership.partner.get_absolute_url }}"><strong>{{ partnership.partner }}</strong></a>
              {% if partnership.partner_entity %} &gt; <strong>{{ partnership.partner_entity.partnerentity }}</strong>{% endif %}
              {% if not partnership.partner.is_valid %}<span class="text-danger"><i class="glyphicon glyphicon-warning-sign"></i> {% trans "invalid_partner" %}</span>{% endif %}
              {% if not partnership.partner.is_actif %}<span class="text-danger"><i class="glyphicon glyphicon-warning-sign"></i> {% trans "inactive_partner" %}</span>{% endif %}
            </dd>

            <dt>{% trans "ucl_entity" %}</dt>
            <dd>
              {{ partnership.entities_acronyms }}
            </dd>

            {% with partnership.get_supervisor as supervisor %}
              <dt>{% trans "partnership_supervisor" %}</dt>
              <dd>
                {% if supervisor %}
                  {{ supervisor }}
                  {% if supervisor.email %} - {{ supervisor.email }}{% endif %}
                  {# Display a tip about the supervisor not being specified #}
                  {% if partnership.supervisor is None %}
                    ({% trans "partnership_supervisor_from_entity_management" %})
                  {% endif %}
                {% endif %}
              </dd>
            {% endwith %}

            {% block administrative_responsible %}{% endblock %}

            <dt>{% trans "partnership_duration" %}</dt>
            <dd>
              {% if partnership.is_mobility or partnership.is_course or partnership.is_doctorate %}
                {{ partnership.start_academic_year }} > {{ partnership.end_academic_year }}
              {% else %}
                  {{ partnership.start_date|date:"d/m/Y" }}
                  >
                  {{ partnership.end_date|date:"d/m/Y" }}
              {% endif %}
            </dd>

            {% if not partnership.is_project %}
              <dt>{% trans "agreements_or_conventions" %}</dt>
              <dd>
                {% if partnership.is_mobility %}
                  {% academic_years start_year=partnership.validated_agreements.first.academic_year end_year=partnership.validated_agreements.last.academic_year %}
                  {% if partnership.has_missing_valid_years %}
                    <span class="text-danger"> - {% trans "partnership_missing_valid_years" %}</span>
                  {% endif %}
                {% else %}
                  {% academic_dates start_date=partnership.validated_agreements.first.start_date end_date=partnership.validated_agreements.last.end_date %}
                {% endif %}
              </dd>
            {% endif %}

            <dt>{% trans "partnership_is_public" %}</dt>
            <dd>
              <i class="fas {{ partnership.is_public|yesno:"fa-check text-success,fa-times text-danger" }}"></i>
            </dd>
          </dl>
        </div>
      </div>

      {% if partnership.years.all %}
      <h2>{% trans "partnership_subject" %}</h2>
      {% block partnership_years %}{% endblock %}


      {% if show_more_year_link %}<a id="show-all-years" role="button" data-toggle="collapse" href=".years-collapse">{% trans "partnership_years_show_all_years" %}</a>{% endif %}
      {% endif %}

      {% if partnership.comment is not None %}
        <div class="row">
          <div class="col-sm-12">
            {{ partnership.comment|linebreaksbr }}
          </div>
        </div>
      {% endif %}

      <!-- Tags -->
      <h2>{% trans "tags" %}</h2>
      {% if partnership.tags.all %}
        <div class="row">
          <div class="col-sm-12">
            <ul class="tags-list">
              {% for tag in partnership.tags.all %}
                <li>{{ tag }}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
      {% else %}
        <i>{% trans 'no_tag_yet' %}</i>
      {% endif %}

      <!-- Contacts -->
      <h2>{% trans "contacts" %}
      {% if can_change %}
        <a href="{% url "partnerships:contacts:create" partnership.id %}" class="btn btn-default pull-right"><i class="fas fa-fw fa-plus"></i> {% trans "add_contact" %}</a>
      {% endif %}
      </h2>
      <div class="row">
      {% for contact in partnership.contacts.all %}
        <div class="col-sm-12">
          {% if can_change %}
          <div class="btn-group pull-right">
            <a href="{% url 'partnerships:contacts:update' pk=contact.pk partnership_pk=partnership.pk %}"
               class="btn btn-default">
              <i class="fas fa-pencil-alt fa-fw"></i>
            </a>
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="caret"></span>
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
              <li>
                <a href="{% url 'partnerships:contacts:delete' pk=contact.pk partnership_pk=partnership.pk %}"
                   class="modal-link"
                   data-modal-danger
                   data-modal-submit="{% trans "delete_contact" %}"
                   data-modal-title="{{ contact }}"
                   data-modal="modal-form">
                  <i class="fas fa-times fa-fw"></i> {% trans 'delete_contact' %}
                </a>
              </li>
            </ul>
          </div>
          {% endif %}
          {% include "partnerships/includes/contact.html" with contact=contact %}
          {% if not forloop.last %}<hr/>{% endif %}
        </div>
      {% empty %}
        <div class="col-sm-12">
          <p>{% trans "no_partnership_contact_yet" %}</p>
        </div>
      {% endfor %}
      </div>

      <div class="row">
        <div class="col-sm-12">
          <h2>{% trans "medias" %}
          {% if can_change %}
          <a href="{% url "partnerships:medias:create" partnership.id %}"
             class="btn btn-default modal-link pull-right"
             data-modal-submit="{% trans "new_media" %}"
             data-modal-title="{% trans "new_media" %}"
             data-modal="modal-form"><i class="fas fa-fw fa-plus"></i> {% trans "add_media" %}</a>
          {% endif %}
          </h2>
        </div>
      </div>
      <div class="row">
        {% for media in partnership.medias.all %}
        <div class="col-sm-12 col-md-6 partnership-media">
          {% include "partnerships/includes/media_detail.html" with media=media file_url=partnership|partnership_media_download_url:media %}
        </div>
        {% empty %}
        <div class="col-sm-12">{% trans "no_media_yet" %}</div>
        {% endfor %}
      </div>

      {% block contacts %}{% endblock %}

      <!-- Accords -->
      <h2>{% trans "Agreements" %}
      {% if can_change %}
      <a href="{% url "partnerships:agreements:create" partnership.id %}" class="btn btn-default pull-right">
        <i class="fas fa-fw fa-plus"></i> {% trans "add_partnership_agreements" %}
      </a>
      {% endif %}
      </h2>

      {% for agreement in partnership.agreements.all %}
        {% include "partnerships/includes/agreement_detail.html" with agreement=agreement %}
        {% if not forloop.last %}<hr>{% endif %}
      {% empty %}
        <div class="row">
          <div class="col-sm-12">{% trans "no_agreement_yet" %}</div>
        </div>
      {% endfor %}
    </div>
  </div>


<div class="modal fade" id="modal-form" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form action="" method="post" class="partner-form" enctype="multipart/form-data">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="{% trans "close" %}"><span aria-hidden="true"><i class="fas fa-times"></i></span></button>
          <h4 class="modal-title" id="myModalLabel">Title</h4>
        </div>
        <div class="modal-body">
          <i class="fas fa-circle-notch fa-spin fa-fw fa-5x"></i>
        </div>
        <div class="modal-footer">
          <div class="row">
            <div class="col-sm-6">
              <button type="button" class="btn btn-default btn-block" data-dismiss="modal">{% trans "cancel" %}</button>
            </div>
            <div class="col-sm-6">
              <button type="submit" class="btn btn-primary btn-block">{% trans "submit" %}</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
