{% extends "layout.html" %}
{% load bootstrap3 i18n static %}

{% block breadcrumb %}
  <li><a href="{% url 'partnerships:list' %}" id="lnk_partnerships">{% trans 'Partnerships' %}</a></li>
  <li class="active">{% trans "partnership_create" %}</li>
{% endblock %}

{% block style %}
  <link rel="stylesheet" href="{% static 'css/bootstrap-datetimepicker.min.css' %}" type='text/css'>
  <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker3.min.css' %}" type='text/css'>
  <link rel="stylesheet" href="{% static 'css/daterangepicker.css' %}" type='text/css'>
  <link rel="stylesheet" href="{% static "partnerships/partnerships.css" %}">
{% endblock %}

{% block script %}
  <script src="{% static 'js/moment.min.js' %}"></script>
  <script src="{% static 'js/locales/moment-fr.js' %}"></script>
  <script src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
  <script src="{% static 'js/daterangepicker.js' %}"></script>
  <script src="{% static 'js/dates-input.js' %}"></script>
{% endblock %}

{% block content %}
  <div class="page-header">
    <h1>{% trans "create_a" %} {{ view.kwargs.type.value|lower }}</h1>
  </div>

  {% bootstrap_form_errors form %}

  <div class="panel panel-default">
    <div class="panel-body">
      <form action="" method="post" class="container col-xs-12">
        {% csrf_token %}

        {% include form_template %}

        <div class="row">
          <div class="col-sm-12">
            <p class="text-danger">{% trans "mandatory_fields_help_text" %}</p>
          </div>
        </div>

        <div class="row button-row">
          <div class="col-sm-6">
            <a href="{% url "partnerships:list" %}" class="btn btn-default btn-block">{% trans "cancel" %}</a>
          </div>
          <div class="col-sm-6">
            <button type="submit" class="btn btn-primary btn-block">{% trans "partnership_create" %}</button>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
