{% extends "partnerships/partnership/partnership_detail.html" %}{% load i18n partnerships static years osis_role getattr %}

{% block partnership_years %}
  {% with partnership_year=partnership.years.first %}
    <dl class="row d-md-table">
      <dt>{% trans "education_fields" %}</dt>
      <dd>
        <ul class="list-unstyled">
          {% for education_field in partnership_year.education_fields.all %}
            <li>
              <strong>{{ education_field.code }}</strong>
              - {{ education_field|getattr:domain_title }}
            </li>
          {% endfor %}
        </ul>
      </dd>
      <dt>{% trans "partnership_subtype_agreement" %}</dt>
      <dd>{{ partnership.subtype }}</dd>
      <dt>{% trans "education_levels" %}</dt>
      <dd>
        <ul class="list-unstyled">
          {% for education_level in partnership_year.education_levels.all %}
            <li>
              <strong>{{ education_level.code }}</strong>
              - {{ education_level.label }}
            </li>
          {% endfor %}
        </ul>
      </dd>
      <dt>{% trans "partnership_missions" %}</dt>
      <dd>
        <ul class="list-unstyled">
          {% for mission in partnership.missions.all %}
            <li>
              <strong>{{ mission.code }}</strong> - {{ mission.label }}
            </li>
          {% endfor %}
        </ul>
      </dd>
      <dt>{% trans "partnership_year_description" %}</dt>
      <dd>{{ partnership.description|linebreaks }}</dd>
    </dl>
  {% endwith %}
{% endblock %}
