{% extends "bootstrap5/layout.html" %}
{% load i18n django_bootstrap5 %}

{% block breadcrumb %}
  <li class="breadcrumb-item">
    <a href="{% url 'partnerships:list' %}" id="lnk_partnerships">{% trans 'Partnerships' %}</a>
  </li>
  <li class="breadcrumb-item active">{{ partnership }}</li>
{% endblock %}

{% block content %}
  <div class="page-header">
    <h1>{% trans 'confirm_partnership_delete' %}</h1>
  </div>
  <div class="card">
    <div class="card-body">
      <form method="post" action="">
        {% csrf_token %}
        <p>{% trans 'Are you sure you want to delete this partnership?' %}</p>
        <div class="row">
          <div class="col-6">
            <a href="{% url 'partnerships:detail' partnership.pk %}" class="btn btn-default border border-dark-subtle w-100">
              {% trans 'Cancel' %}
            </a>
          </div>
          <div class="col-6">
            <input class="btn btn-danger w-100" type="submit" value="{% trans 'Confirm' %}" name="submit" />
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
