{% extends "partnerships/partnership/partnership_detail.html" %}
{% load i18n partnerships static years osis_role getattr %}

{% block administrative_responsible %}
  {% with partnership.ucl_entity.uclmanagement_entity as ume %}
    <dt class="col-12 float-start width-md-160 text-md-end  text-nowrap text-truncate">{% trans "administrative_responsible" %}</dt>
    <dd class="col-12 col-md-auto mb-2 mb-md-0">
      {{ ume.administrative_responsible|default_if_none:"" }}
      {% if ume.administrative_responsible.email %} -
        {{ ume.administrative_responsible.email }}
      {% endif %}
    </dd>
  {% endwith %}
{% endblock administrative_responsible %}

{% block partnership_years %}
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
      <tr>
        <th></th>
        <th>{% trans "education_fields" %}</th>
        <th>{% trans "planned_activity" %}</th>
        <th>{% trans "education_levels" %}</th>
        <th>{% trans "partnership_year_entities" %}</th>
        <th>{% trans "partnership_year_offers" %}</th>
        <th>{% trans "financing" %}</th>
        <th>{% trans "is_valid" %}</th>
      </tr>
      </thead>
      <tbody>
      {% for partnership_year in partnership.years.all %}
        <tr
            {% if partnership.current_year is not None and partnership_year != partnership.current_year and partnership_year.academic_year.year != partnership.current_year.academic_year.year|add:1 %}class="collapse years-collapse"{% endif %}
            {% if partnership.current_year is None and not forloop.first %}class="collapse years-collapse"{% endif %}
        >
          <th>{{ partnership_year.academic_year }}</th>
          <td>
            <ul class="list-unstyled">
              {% for education_field in partnership_year.education_fields.all %}
                <li>
                  <strong>{{ education_field.code }}</strong>
                  - {{ education_field|getattr:domain_title }}
                </li>
              {% endfor %}
            </ul>
          </td>
          <td>
            {{ partnership_year.planned_activity }}
            <br>
            <br>
            {% translate "Direction:" %} {{ partnership_year.get_flow_direction_display }}
          </td>
          <td>
            {% if partnership_year.has_sm %}
              <ul class="list-unstyled">
                {% for education_level in partnership_year.education_levels.all %}
                  <li>
                    <strong>{{ education_level.code }}</strong>
                    - {{ education_level.label }}
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </td>
          <td>
            {% if partnership_year.has_sm %}
              <ul class="list-unstyled">
                {% for entity in partnership_year.get_entities_with_titles %}
                  <li>
                    <strong>{{ entity.most_recent_acronym }}</strong>
                    - {{ entity.most_recent_title }}
                  </li>
                  {% empty %}
                  <li>
                    {% trans "all_entities" %}
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </td>
          <td>
            {% if partnership_year.has_sm %}
              <ul class="list-unstyled">
                {% for offer in partnership_year.offers.all %}
                  <li>
                    <strong>{{ offer.acronym }}</strong> - {{ offer.title }}
                  </li>
                  {% empty %}
                  <li>{% trans "all_offers" %}</li>
                {% endfor %}
              </ul>
            {% endif %}
          </td>
          <td>
            {% if partnership_year.is_valid and partnership_year.eligible %}
              <i class="fas fa-check text-success"></i>
              {% if partnership_year.funding_type_id %}
                {{ partnership_year.funding_type }}
              {% else %}
                {{ partnership_year.get_financing.type.name|default_if_none:"" }}
              {% endif %}
            {% else %}
              <i class="fas fa-times text-danger"></i>
            {% endif %}
          </td>
          <td>
            <i class="fas {{ partnership_year.is_valid|yesno:"fa-check text-success,fa-times text-danger" }}"></i>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}

{% block contacts %}
  {% with management_entity=partnership.ucl_entity.uclmanagement_entity %}
    {% if management_entity and management_entity.are_contacts_defined %}
      <h2>{% trans "ucl_management_entity_contacts" %}</h2>
      <div class="row">
        {% if management_entity.is_contact_in_defined %}
          <div class="{% if management_entity.is_contact_out_defined %}col-md-6{% else %}col-md-12{% endif %}">
            <h4>{% trans "contact_in" %}</h4>
            <dl class="row d-md-table">
              {% if management_entity.contact_in_person is not None %}
                <dt class="col-12 float-start width-md-160 text-md-end  text-nowrap text-truncate">{% trans 'Name' %}</dt>
                <dd class="col-12 col-md-auto mb-2 mb-md-0">
                  {{ management_entity.contact_in_person }}
                  {% if management_entity.contact_in_person %} -
                    {{ management_entity.contact_in_person.email }}
                  {% endif %}
                </dd>
              {% endif %}

              {% if management_entity.contact_in_email is not None %}
                <dt class="col-12 float-start width-md-160 text-md-end  text-nowrap text-truncate">{% trans 'email' context 'partnership' %}</dt>
                <dd class="col-12 col-md-auto mb-2 mb-md-0">
                  <a href="mailto:{{ management_entity.contact_in_email }}">
                    {{ management_entity.contact_in_email }}
                  </a>
                </dd>
              {% endif %}

              {% if management_entity.contact_in_url is not None %}
                <dt class="col-12 float-start width-md-160 text-md-end  text-nowrap text-truncate">{% trans 'portal' %}</dt>
                <dd class="col-12 col-md-auto mb-2 mb-md-0">
                  <a
                      href="{{ management_entity.contact_in_url }}"
                      target="_blank"
                  >
                    {{ management_entity.contact_in_url }}
                  </a>
                </dd>
              {% endif %}
            </dl>
          </div>
        {% endif %}

        {% if management_entity.is_contact_out_defined %}
          <div class="{% if management_entity.is_contact_in_defined %}col-md-6{% else %}col-12{% endif %}">
            <h4>{% trans "contact_out" %}</h4>
            <dl class="row d-md-table">
              {% if management_entity.contact_out_person is not None %}
                <dt class="col-12 float-start width-md-160 text-md-end  text-nowrap text-truncate">{% trans 'Name' %}</dt>
                <dd class="col-12 col-md-auto mb-2 mb-md-0">
                  {{ management_entity.contact_out_person }}
                  {% if management_entity.contact_out_person %} -
                    {{ management_entity.contact_out_person.email }}
                  {% endif %}
                </dd>
              {% endif %}

              {% if management_entity.contact_out_email is not None %}
                <dt class="col-12 float-start width-md-160 text-md-end  text-nowrap text-truncate">{% trans 'email' context 'partnership' %}</dt>
                <dd class="col-12 col-md-auto mb-2 mb-md-0">
                  <a href="mailto:{{ management_entity.contact_out_email }}">
                    {{ management_entity.contact_out_email }}
                  </a>
                </dd>
              {% endif %}

              {% if management_entity.contact_out_url is not None %}
                <dt class="col-12 float-start width-md-160 text-md-end  text-nowrap text-truncate">{% trans 'portal' %}</dt>
                <dd class="col-12 col-md-auto mb-2 mb-md-0">
                  <a
                      href="{{ management_entity.contact_out_url }}"
                      target="_blank"
                  >
                    {{ management_entity.contact_out_url }}
                  </a>
                </dd>
              {% endif %}
            </dl>
          </div>
        {% endif %}
      </div>
    {% endif %}
  {% endwith %}
{% endblock contacts %}
