{% extends "layout.html" %}
{% load i18n static %}

{% block breadcrumb %}
  <li>
    <a href="{% url 'partnerships:list' %}" id="lnk_partnerships">
      {% trans 'Partnerships' %}
    </a>
  </li>
  <li class="active">{% trans "partnership_create" %}</li>
{% endblock %}

{% block content %}
  <div class="page-header">
    <h1>{% trans "partnership_create" %}</h1>
  </div>

  {% for type in types %}
    <a href="{% url "partnerships:create" type=type %}">
      <div class="panel panel-default">
        <div class="panel-body">
          {{ type.value }}
        </div>
      </div>
    </a>
  {% endfor %}
{% endblock %}
