{% extends "bootstrap5/layout.html" %}
{% load i18n static %}

{% block breadcrumb %}
  <li class="breadcrumb-item">
    <a href="{% url 'partnerships:list' %}" id="lnk_partnerships">
      {% trans 'Partnerships' %}
    </a>
  </li>
  <li class="breadcrumb-item active">{% trans "partnership_create" %}</li>
{% endblock %}

{% block content %}
  <div class="page-header">
    <h1>{% trans "partnership_create" %}</h1>
  </div>

  {% for type in types %}
    <a href="{% url 'partnerships:create' type=type %}">
      <div class="card mb-4">
        <div class="card-body">
          {{ type.value }}
        </div>
      </div>
    </a>
  {% endfor %}
{% endblock %}
